<div class="container paddingNavbarFixed">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12">
      <form name="form" (ngSubmit)="formUser.form.valid && updateUser(formUser)" #formUser="ngForm" novalidate>
        <div class="row">
          <div class="col-sm-12 alert alert-danger" role="alert" *ngIf="usuarioService.selectedUsuario.bloqueado == true">
            Su usuario ha sido bloqueado.
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-sm-10">
            <div class="form-group row d-flex justify-content-center">                
              <input type="file" class="d-none" name="fotoInput" accept="image/*" #fotoInput (change)="photoSelected($event)">
              <img [src]="photo == null ? fotoActual : photo"
              class="selectedProfilePhoto m-2" alt="Foto de perfil" (click)="fotoInput.click()">
            </div>
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" class="form-control" placeholder="usuario" id="usuario" name="usuario" #usuario="ngModel" maxlength="50"
              [(ngModel)]="usuarioService.selectedUsuario.usuario" readonly
              [ngClass]="{ 'is-invalid': formUser.submitted && usuario.invalid }" required>
              <div *ngIf="formUser.submitted && usuario.invalid" class="invalid-feedback">
                <div *ngIf="usuario.errors.required">Por favor ingrese un usuario.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="nombreUsuario">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombreUsuario" #nombreUsuario="ngModel" maxlength="50"
              [(ngModel)]="usuarioService.selectedUsuario.nombre"
              [ngClass]="{ 'is-invalid': formUser.submitted && nombreUsuario.invalid }" required >
              <div *ngIf="formUser.submitted && nombreUsuario.invalid" class="invalid-feedback">
                <div *ngIf="nombreUsuario.errors.required">Por favor ingrese su nombre.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="correo">Correo</label>
              <input type="text" class="form-control" placeholder="correo" id="correo" name="correo" #correo="ngModel" maxlength="60"
              [(ngModel)]="usuarioService.selectedUsuario.correo" readonly
              [ngClass]="{ 'is-invalid': formUser.submitted && correo.invalid }" required pattern="[^@]+@[^\.]+\..+" />
              <div *ngIf="formUser.submitted && correo.invalid" class="invalid-feedback">
                <div *ngIf="correo.errors.required">Por favor ingrese un E-mail de contacto.</div>
                <div *ngIf="correo.errors.pattern">El E-mail debe ser un E-mail válido.</div>
              </div>
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo con nadie más.</small>
            </div>
            <div class="form-group">
              <label for="fechaNacimiento">Fecha de nacimiento</label>
              <input type="date" class="form-control" placeholder="fechaNacimiento" id="fechaNacimiento" name="fechaNacimiento" #fechaNacimiento="ngModel" 
              min="1900-12-12" max="2019-12-12"
              [(ngModel)]="usuarioService.selectedUsuario.fechaNacimiento">
            </div>
            <div class="form-group">
              <label for="celular">Celular</label>
              <input type="tel" class="form-control" placeholder="celular" id="celular" name="celular" #celular="ngModel" maxlength="10"
              [(ngModel)]="usuarioService.selectedUsuario.celular"
              [ngClass]="{ 'is-invalid': formUser.submitted && celular.invalid }" pattern="^[0-9]{10}">
              <div *ngIf="formUser.submitted && celular.invalid" class="invalid-feedback">
                <div *ngIf="celular.errors.pattern">Por favor ingrese un número celular válido.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-group d-flex justify-content-center">
              <div class="row">
                <div class="col-auto">
                  <button class="btn btn-primary mr-1 mb-1">Guardar</button>
                </div>
                <div class="col-auto">
                  <!-- Rev Only user registeredby form can change their passwords, we need a flag to solve this -->
                  <input type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCambiarClave" value="Cambiar Clave">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- minimap titles -->
<!-- Modals -->
<!-- Modal update password user  -->
<div class="modal fade" id="modalCambiarClave" tabindex="-1" role="dialog" aria-labelledby="modalCambiarClaveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalCambiarClaveTitle">Cambiar Clave</h4>
          <button type="button" id="closeModalCambiarClave" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="form" (ngSubmit)="updatePasswordForm.form.valid && changePassword(updatePasswordForm)" #updatePasswordForm="ngForm" novalidate>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.selectedUsuario._id">
            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-primary" role="alert">
                  La contraseña debe contener entre 5 y 20 carácteres, puede usar tambien @.-<>
                </div>
                <div class="form-group">
                  <label for="">Clave actual</label>
                  <input type="password" class="form-control" placeholder="contraseña actual" name="currentPassword" maxlength="20"
                  #cPassword="ngModel" [(ngModel)]="currentPassword" required
                  [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && cPassword.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                  <div *ngIf="updatePasswordForm.submitted && cPassword.invalid" class="invalid-feedback">
                    <div *ngIf="cPassword.errors.pattern">
                      Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                    </div>
                  </div>
              </div>
                <div class="form-group">
                  <label for="">Nueva contraseña</label>
                  <input type="password" class="form-control" placeholder="nueva contraseña" name="newPassword" maxlength="20"
                  #nContrasena="ngModel" [(ngModel)]="newPassword" required
                  [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && nContrasena.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                  <div *ngIf="updatePasswordForm.submitted && nContrasena.invalid" class="invalid-feedback">
                    <div *ngIf="nContrasena.errors.pattern">
                      Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Confirmar nueva contraseña</label>
                  <input type="password" class="form-control" placeholder="confirmar nueva contraseña" name="passwordConfirm" maxlength="20"
                  #rPassword="ngModel" [(ngModel)]="passwordConfirm" required
                  [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && rPassword.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                  <div *ngIf="updatePasswordForm.submitted && rPassword.invalid" class="invalid-feedback">
                    <div *ngIf="rPassword.errors.pattern">
                      Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flexjustify-content-end">
              <div class="input-group">
                <div class="col-sm-auto">
                  <button type="button" class="btn btn-warning" (click)="resetForm(updatePasswordForm)">Limpiar</button>
                </div>
                <div class="col-sm-auto">
                  <button class="btn btn-primary">Cambiar Clave</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>