<div class="page-section contactoBackground">
  <div class ="row d-flex justify-content-center">
    <div class ="col-md-7">
      <div class="container mt-5 py-2 formContact">
        <h2>Formulario de contacto</h2>
        <form (ngSubmit)="contactForm(form.value)" [formGroup]="form">
          <div class="form-group">
            <label>Nombre de la Persona que contacta</label>
            <input type="text" class="form-control" name="nombre" autofocus maxlength="50"
            placeholder="Nombre de la persona que contacta"
            formControlName="nombre" 
            [ngClass]="form.get('nombre').touched && form.get('nombre').invalid ? 'is-invalid' : ''"
            ngModel>
            <div class="invalid-feedback">
              Por favor ingrese un nombre de contacto.
            </div>
          </div>
          <div class="form-group">
            <label>Nombre del Restaurante</label>
            <input type="text" class="form-control" name="nombreRestaurante" maxlength="40"
            formControlName="nombreRestaurante" 
            [ngClass]="form.get('nombreRestaurante').touched && form.get('nombreRestaurante').invalid ? 'is-invalid' : ''"
            placeholder="Nombre del Restaurante tal cual aparece en su establecimiento" ngModel>
            <div class="invalid-feedback">
              Por favor ingresar el nombre del restaurante.
            </div>
          </div>
          <div class="form-group">
            <label>Dirección restaurante</label>
            <input type="text" class="form-control" name="direccion" maxlength="50"
            formControlName="direccion" 
            [ngClass]="form.get('direccion').touched && form.get('direccion').invalid ? 'is-invalid' : ''"
            placeholder="Dirección exacta del restaurante" ngModel>
            <div class="invalid-feedback">
              Por favor ingresar la dirección del restaurante.
            </div>
          </div>
          <div class="form-group">
            <label>E-mail del Restaurante</label>
            <input type="email" class="form-control" name="email" maxlength="60"
            formControlName="email" 
            [ngClass]="form.get('email').touched && form.get('email').invalid ? 'is-invalid' : ''"
            placeholder="E-mail con el cual nos pondremos en contacto" ngModel>
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Por favor ingrese un E-mmail de contacto.</div>
              <div *ngIf="form.get('email').errors.pattern">El E-mail incorrecto.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Teléfono de contacto restaurante</label>
            <input type="tel" class="form-control" name="telefonoContacto" maxlength="10"
            formControlName="telefonoContacto" 
            [ngClass]="form.get('telefonoContacto').touched && form.get('telefonoContacto').invalid ? 'is-invalid' : ''"
            placeholder="Número de teléfono con el cual nos pondremos en contacto" ngModel>
            <div *ngIf="form.get('telefonoContacto').touched && form.get('telefonoContacto').invalid" class="invalid-feedback">
              <div *ngIf="form.get('telefonoContacto').errors.required">Por favor ingresar teléfono contacto.</div>
              <div *ngIf="form.get('telefonoContacto').errors.pattern">Por favor ingrese un teléfono de contacto valido (entre 7 y 10 números).</div>
            </div>
          </div>
          <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" cols="30" rows="6" name="mensaje" maxlength="500" 
            formControlName="mensaje" 
            [ngClass]="form.get('mensaje').touched && form.get('mensaje').invalid ? 'is-invalid' : ''"
            placeholder="Escriba cualquier información que considera podriamos necesitar. Máximo 500 caracteres" ngModel></textarea>
            <div class="invalid-feedback">
              Por favor ingrese un mensaje.
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>