/* loads the image from assets */
.contactoBackground {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url("/assets/agency-bootstrap/img/contacto-image.jpg");
    background-size: cover;
  }

.formContact {
  border-radius: 4px;
  background-color: white;
  opacity: 0.7;
}

.formContact:hover {

  opacity: 0.95;
}