<div class="row justify-content-center mt-3 pt-5">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12 alert alert-danger" role="alert" *ngIf="restauranteService.selectedRestaurante.bloqueado == true">
        Su restaurante no puede ser observado por los comensales.
      </div>
    </div>
     <!-- Minimap titles: form images -->
     <div class="form-group row d-flex justify-content-center">
      <form #imagesForm="ngForm">
        <div class="row text-center">
          <div clas="col-sm-6">
            <!-- photo local -->
            <h5 class="textImg">Foto Local</h5>
            <input type="file" class="d-none" name="fotoLocalInput" #fotoLocalInput (change)="photoSelected($event, 'local')" accept="image/*">
            <img [src]="photoLocal || photoLocalActual" class="selectedPhoto m-2" alt="Foto Local" (click)="fotoLocalInput.click()"> 
            <!-- photo logo -->
          </div>
          <div class="col-sm-6">
            <h5 class="textImg">Logo</h5>
            <input type="file" class="d-none" name="fotoLogoInput" #fotoLogoInput (change)="photoSelected($event, 'logo')" accept="image/*">
            <img [src]="photoLogo || photoLogoActual" class="selectedPhoto m-2" alt="Foto Logo" (click)="fotoLogoInput.click()">  
          </div>
        </div>
        <div class="input-group justify-content-end">
          <button class="btn btn-primary mr-1" (click)="changePhotoLocalLogo(imagesForm)">
            Cambiar Imagenes
          </button>
        </div>
      </form>
    </div>
    <!-- Minimap titles: form data texto-->
    <!-- name="form" -->
    <form (ngSubmit)="restForm.form.valid && updateRestaurant(restForm)" #restForm="ngForm" novalidate>
      <!-- <input type="text" name="_id" #_id="ngModel" [(ngModel)]="restauranteService.selectedRestaurante._id" readonly> -->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="nombre">Nombre del Restaurante</label>
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" id="nombre" maxlength="40"
            placeholder="Nombre del Restaurante" required
            [(ngModel)]="restauranteService.selectedRestaurante.nombre">
            <!-- [ngClass]="{ 'is-invalid': restForm.submitted && nombre.invalid }"> -->
            <!-- Rev its not working, always shows without being true the condition -->
            <!-- <div *ngIf="restForm.submitted && nombre.invalid" class="invalid-feedback">
              <div *ngIf="nombre.errors.required">
                Por favor ingrese la dirección del restaurante.
              </div>
            </div> -->
          </div>
          <div class="form-group">
            <label for="direccion">Dirección del Restaurante</label>
            <input type="text" class="form-control" name="direccion" #direccion="ngModel" id="direccion" maxlength="100"
            placeholder="Dirección del Restaurante"
            [(ngModel)]="restauranteService.selectedRestaurante.direccion" required
            [ngClass]="{ 'is-invalid': restForm.submitted && direccion.invalid }">
            <div *ngIf="restForm.submitted && direccion.invalid" class="invalid-feedback">
              <div *ngIf="direccion.errors.required">
                Por favor ingrese la dirección del restaurante.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fijo">Teléfono Fijo del Restaurante</label>
            <input type="tel" class="form-control" name="fijo" #fijo="ngModel" id="fijo" maxlength="10"
            placeholder="Teléfono Fijo del Restaurante"
            [(ngModel)]="restauranteService.selectedRestaurante.fijo"
            [ngClass]="{ 'is-invalid': restForm.submitted && fijo.invalid }" pattern="^[0-9]{5,10}">
            <div *ngIf="restForm.submitted && fijo.invalid" class="invalid-feedback">
              <div *ngIf="fijo.errors.pattern">
                Por favor ingrese un teléfono fijo valido, de 5 a 10 dígitos.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="celular">Teléfono Celular del Restaurante</label>
            <input type="tel" class="form-control" name="celular" #celular="ngModel" id="celular" maxlength="10"
            placeholder="Teléfono Celular del Restaurante"
            [(ngModel)]="restauranteService.selectedRestaurante.celular"
            [ngClass]="{ 'is-invalid': restForm.submitted && celular.invalid }" pattern="[0-9]{5,10}">
            <div *ngIf="restForm.submitted && celular.invalid" class="invalid-feedback">
              <div *ngIf="celular.errors.pattern">
                Por favor ingrese un teléfono celular valido, de 5 a 10 dígitos.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Historia del Emprendimiento</label>
            <textarea class="form-control" rows="5" name="Historia" maxlength="500"
            #historia="ngModel"
            placeholder="Como fue crear tu restaurante en menos de 500 caracteres."
            [(ngModel)]="restauranteService.selectedRestaurante.historia"
            [ngClass]="{ 'is-invalid': restForm.submitted && historia.invalid }">
            </textarea>
            <div *ngIf="restForm.submitted && historia.invalid" class="invalid-feedback">
              <!-- <div *ngIf="historia.errors.pattern">
                La historia debe contener un máximo de 500 carateres, ademasSolo puede utilizar letras y simbolos como: (),.!¡¿?.
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="precioMinimo">Precio Mínimo por persona</label>
            <input type="number" class="form-control" name="precioMinimo" id="precioMinimo" maxlength="10"
            placeholder="Precio Mínimo por persona"
            #precioMinimo="ngModel"
            [(ngModel)]="restauranteService.selectedRestaurante.precioMinimo" required readonlys
            [ngClass]="{ 'is-invalid': restForm.submitted && precioMinimo.invalid }" pattern="^[0-9]{1,10}">
            <div *ngIf="restForm.submitted && precioMinimo.invalid" class="invalid-feedback">
              <div *ngIf="precioMinimo.errors.pattern || precioMinimo.errors.required">
                El precio minimo debe contener un máximo de 10 dígitos.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Horario de Atención</label>
            <div class="alert alert-primary" role="alert">
              El formato de hora esta dado de 00 a 24 horas y el de minutos en 60 minutos.<br>
              Debe rellenar todos los campos para un día, de lo contrario el horario de ese día sera: <strong>cerrado</strong>.
              Recuerde utilizar el formato 00 a 24 horas o 00 a 60 minutos.
            </div>
            <div class="row justify-content-start" *ngFor="let dia of horario">
              <div class="col-sm-3">
                {{dia}}
              </div>
              <div class="col-sm-auto">
                Abre
                <input type="number" id="{{dia}}horaAbre" min="0" max="23" (keydown)="$event.preventDefault()"> : 
                <input type="number" id="{{dia}}minutoAbre" min="0" max="59" (keydown)="$event.preventDefault()">
              </div>
              <div class="col-sm-auto">
                Cierra
                <input type="number" id="{{dia}}horaCierra" min="0" max="23" (keydown)="$event.preventDefault()"> : 
                <input type="number" id="{{dia}}minutoCierra" min="0" max="59" (keydown)="$event.preventDefault()">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Categorías de Comida</label><br>
            <div class="alert alert-info" role="alert">
              Para añadir nuevas categorías por favor contacte con el administrador a el correo <strong>bookeat2019@gmail.com</strong> 
              o a través de la sección de contacto <strong>Tengo un restaurante</strong>.
            </div>
            <div class="form-check form-check-inline" *ngFor="let categoria of categorias">
              <!-- <input class="form-check-input" type="checkbox" name="categoria" id="{{categoria}}-Restaurante" value="{{categoria}}"
              onclick="return false;"> -->
              <!-- now its not neccesary validated categories because they are created on the proccess of adding new plates -->
              <!-- #category="ngModel" ngModel required
              [ngClass]="{ 'is-invalid': restForm.submitted && category.invalid }"> -->
              <i style="color: red" class="fas fa-utensils"></i> - <label class="form-check-label" for="categoria">{{categoria}}</label>
              <!-- works, but its not well formated, the problem its name="categoria" -->
              <!-- <div *ngIf="restForm.submitted && category.invalid" class="invalid-feedback">
              <div *ngIf="category.errors.required">
                Debe seleccionar al menos una categoria de comida.
              </div>
            </div> -->
            </div>
          </div>
          <div class="form-group">
            <label>Servicios</label><br>
            <div class="form-check form-check-inline" *ngFor="let servicio of servicios">
              <!-- not required because of wrong behavior -->
              <input class="form-check-input" type="checkbox" name="{servicio}}" id="{{servicio}}" value="{{servicio}}" 
              #service="ngModel" ngModel
              [ngClass]="{ 'is-invalid': restForm.submitted && service.invalid }">
              <label class="form-check-label" for="servicio">{{servicio}}</label>
            </div>
          </div>
          <div class="form-group">
            <label>Métodos de pago</label><br>
            <div class="form-check form-check-inline" *ngFor="let metodoPago of metodosPago">
              <!-- not required because of wrong behavior -->
              <input class="form-check-input" type="checkbox" name="{metodoPago}}" id="{{metodoPago}}" value="{{metodoPago}}"
              #payMethod="ngModel" ngModel
              [ngClass]="{ 'is-invalid': restForm.submitted && payMethod.invalid }">
              <label class="form-check-label" for="metodoPago">{{metodoPago}}</label>
            </div>
          </div>
          <div class="alert alert-info" role="alert">
            Datos de contacto del administrador o representante del restaurante.
          </div>
          <div class="form-group">
            <label for="nombreContacto">Nombre de Contacto o Administrador</label>
            <input type="text" class="form-control" name="nombreContacto" id="nombreContacto" maxlength="50"
            placeholder="Nombre de Contacto o Administrador"
            #nombreContacto="ngModel"
            [(ngModel)]="restauranteService.selectedRestaurante.nombreContacto" required
            [ngClass]="{ 'is-invalid': restForm.submitted && nombreContacto.invalid }">
            <div *ngIf="restForm.submitted && nombreContacto.invalid" class="invalid-feedback">
              <div *ngIf="nombreContacto.errors.required">
                Por favor ingrese el nombre de contacto o administrador.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail de Contacto</label>
            <input type="text" class="form-control"  name="email" id="email" maxlength="60"
            placeholder="E-mail de Contacto"
            #email="ngModel"
            [(ngModel)]="restauranteService.selectedRestaurante.email" required pattern="[^@]+@[^\.]+\..+" />
            <div *ngIf="restForm.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Por favor ingrese un E-mmail de contacto.</div>
                <div *ngIf="email.errors.pattern">El E-mail debe ser un E-mail válido.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo con nadie más.</small>
          </div>
          <div class="form-group">
            <label for="telefonoContacto">Teléfono de Contacto</label>
            <input type="tel" class="form-control" name="telefonoContacto" id="telefonoContacto" maxlength="10"
            placeholder="Teléfono de Contacto"
            #telefonoContacto="ngModel"
            [(ngModel)]="restauranteService.selectedRestaurante.telefonoContacto" required
            [ngClass]="{ 'is-invalid': restForm.submitted && telefonoContacto.invalid }" pattern="[0-9]{5,10}">
            <div *ngIf="restForm.submitted && telefonoContacto.invalid" class="invalid-feedback">
              <div *ngIf="telefonoContacto.errors.pattern || telefonoContacto.errors.required">
                Por favor ingrese un telélofono de contacto del administrador valido.
              </div>
            </div>
          </div>
          <div class="input-group justify-content-end">
            <button type="submit" class="btn btn-primary mr-1">Guardar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-auto">
        <input type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCambiarClave" value="Cambiar Clave">
      </div>
      <div class="col-sm-auto">
        <input type="button" class="btn btn-success ml-1" data-toggle="modal" data-target="#modalInsertPlato" value="Crear Plato">
      </div>
      <div class="col-sm-auto">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".viewCreatedPlates-xl">
          Ver Platos
        </button>
      </div>
    </div>
  </div>
</div>





<!-- minimap titles -->
<!-- Modals -->
<!-- Modal update password user  -->
<div class="modal fade" id="modalCambiarClave" tabindex="-1" role="dialog" aria-labelledby="modalCambiarClaveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalCambiarClaveTitle">Cambiar Clave</h4>
        <button type="button" id="closeModalCambiarClave" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)="updatePasswordForm.form.valid && changePassword(updatePasswordForm)" #updatePasswordForm="ngForm" novalidate>
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="restauranteService.selectedRestaurante._id">
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-primary" role="alert">
                La contraseña debe contener entre 5 y 20 carácteres, puede usar tambien @.-<>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="contraseña actual" name="currentPassword" maxlength="20"
                #cPassword="ngModel" [(ngModel)]="currentPassword" required
                [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && cPassword.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                <div *ngIf="updatePasswordForm.submitted && cPassword.invalid" class="invalid-feedback">
                  <div *ngIf="cPassword.errors.pattern || cPassword.errors.required">
                    Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="nueva contraseña" name="newPassword" maxlength="20"
                #nContrasena="ngModel" [(ngModel)]="newPassword" required
                [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && nContrasena.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                <div *ngIf="updatePasswordForm.submitted && nContrasena.invalid" class="invalid-feedback">
                  <div *ngIf="nContrasena.errors.pattern || nContrasena.errors.required">
                    Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                  </div>
                </div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="confirmar nueva contraseña" name="passwordConfirm" maxlength="20"
                #rPassword="ngModel" [(ngModel)]="passwordConfirm" required
                [ngClass]="{ 'is-invalid': updatePasswordForm.submitted && rPassword.invalid }" pattern="^[A-Za-z0-9@.-<>]{5,20}">
                <div *ngIf="updatePasswordForm.submitted && rPassword.invalid" class="invalid-feedback">
                  <div *ngIf="rPassword.errors.pattern || rPassword.errors.required">
                    Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-sm-auto">
              <button type="button" class="btn btn-warning" (click)="resetForm(updatePasswordForm)">Limpiar</button>
            </div>
            <div class="col-sm-auto">
              <button type="submit" class="btn btn-primary">Cambiar Clave</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- Modal insert platos -->
<div class="modal fade" id="modalInsertPlato" tabindex="-1" role="dialog" aria-labelledby="modalInsertPlatoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalInsertPlatoLabel">Crear Plato</h4>
        <button type="button" id="closeModalPlate" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="plateForm.form.valid && createPlate(plateForm)" #plateForm="ngForm" novalidate>
          <!-- <input type="text" name="_id" #_id="ngModel" [(ngModel)]="restauranteService.selectedRestaurante._id" readonly> -->
          <div class="form-group row d-flex justify-content-center">                
            <input type="file" class="d-none" name="fotoInput" #fotoInput (change)="photoSelected($event)" accept="image/*"
            ngModel>
            <img [src]="photo || 'assets/no-profile-photo.png'"
            class="selectedPhoto m-2" alt="Foto Plato" (click)="fotoInput.click()">
          </div>
          <div class="form-group">
            <label>Nombre plato</label>
            <input type="text" class="form-control" name="nombre" maxlength="40"
            placeholder="Nombre del plato" required
            #nombre="ngModel" ngModel
            [ngClass]="{ 'is-invalid': plateForm.submitted && nombre.invalid }">
            <div *ngIf="plateForm.submitted && nombre.invalid" class="invalid-feedback">
              Por favor ingrese el nombre del plato.
            </div>
          </div>
          <div class="form-group">
            <label>Categorias:</label><br>
            <div class="form-check form-check-inline" *ngFor="let categoria of categorias">
              <input class="form-check-input" type="checkbox" name="{categoria}}-Plato" id="{{categoria}}-Plato" value="{{categoria}}" 
              #category="ngModel" ngModel required
              [ngClass]="{ 'is-invalid': plateForm.submitted && category.invalid }">
              <label class="form-check-label" for="categoria">{{categoria}}</label>
            </div>
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <div class="alert alert-primary" role="alert">
              La descripción solo puede contener letras, números y símbolos como: (),.!¡¿? para un máximo de 300 caracteres.
            </div>
            <textarea class="form-control" name="descripcion" maxlength="300" rows="5"
            placeholder="Descripción del plato"
            #descripcion="ngModel" ngModel required
            [ngClass]="{ 'is-invalid': plateForm.submitted && descripcion.invalid }" pattern="^[ A-Za-zÑñ0-9áéíóúÁÉÍÓÚ(),.!¡¿?/\n]{0,300}">
            </textarea>
            <div *ngIf="plateForm.submitted && descripcion.invalid" class="invalid-feedback">
              <div *ngIf="descripcion.errors.required">
                Por favor escriba una descripción.
              </div>
              <div *ngIf="descripcion.errors.pattern">
                Por favor ingrese una descripción válida, el texto solo puede contener letras, números y símbolos como (),.!¡¿?.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Precio</label>
            <div class="alert alert-primary" role="alert">
              El precio debe contener un valor númerico de 2 a 10 dígitos sin comas ni puntos.
            </div>
            <input type="number" value="0" class="form-control" name="precio" maxlength="10"
            placeholder="Costo"
            #precio="ngModel" ngModel required
            [ngClass]="{ 'is-invalid': plateForm.submitted && precio.invalid }" pattern="^[0-9]{2,10}">
            <div *ngIf="plateForm.submitted && precio.invalid" class="invalid-feedback">
              <div *ngIf="precio.errors.required || precio.errors.pattern">
                Por favor ingrese una valor válido de 2 a 10 dígitos (solo puede incluir números, sin puntos o comas).
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="alert alert-primary" role="alert">
              Este campo <strong>NO</strong> es obligatorio, solo seleccione el día de promoción si el plato que está creando algún día de
               la semana entra en alguna promoción.<br>
              Si el plato es una promoción entonces por favor señale que día de la semana se encuentra en promo. De lo contrario el plato 
              será ofrecido como un plato normal del menú. 

            </div>
            <label for>Día de promoción</label><br>
            <div class="form-check form-check-inline" *ngFor="let diaPromo of horario">
              <input class="form-check-input" type="checkbox" name="diaPromo" id="{{diaPromo}}-Plato" value="{{diaPromo}}">
              <label class="form-check-label" for="diaPromo">{{diaPromo}}</label>
            </div>
            <!-- <select class="form-control" name="diaPromocion"
            #diaPromocion="ngModel" ngModel>
              <option value="">Día promoción...</option>
              <option *ngFor="let diaPromo of horario" value="{{diaPromo}}">{{diaPromo}}</option>
            </select> -->
          </div>
          <div class="input-group"></div>
            <div class="row justify-content-center">
              <div class="col-sm-auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
              <div class="col-sm-auto">
                <button type="button" class="btn btn-warning" (click)="resetForm(plateForm)">Limpiar</button>
              </div>
              <div class="col-sm-auto">
                <button type="submit" class="btn btn-primary">Crear plato</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- Minimap titles: modals -->
<!-- modal Ver Mas -->
<!-- Modal -->
<div class="portfolio-modal modal fade viewCreatedPlates-xl"  tabindex="-1" role="dialog" aria-labelledby="viewCreatedPlatesLabel-lx" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content parallax modalFood">
      <h3 style="color: white;">PLATOS CREADOS (INCLUYE PROMOS)</h3>
      <div class="close-modal bg-light" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <section class="py-4 mx-auto" id="portfolio">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="alert alert-warning" role="alert" *ngIf="restauranteService.selectedRestaurante.plato == []">
              No hay platos para mostrar. Por favor actualize su menu para aparecer el busquedas de comensales.
            </div>
            <div class="col-md-6 col-sm-12 portfolio-item" *ngFor="let plato of restauranteService.selectedRestaurante.plato">
              <img class="img-fluid imgRestaurantePLato" [src]="URL_IMGS_PLATE + plato.foto" alt="restaurante">
              <div class="portfolio-caption">
                <h5>{{plato.nombre}}</h5>
                <p class="text-muted text-justify">${{plato.precio}} pesos</p>
                  <h6>Categorias</h6>
                <p class="text-muted text-justify">{{plato.categoria}}</p>
                <p class="text-muted text-justify">{{plato.descripcion}}</p>
                <div *ngIf="plato.diaPromocion.length > 0">
                  <h6>Días promoción</h6>
                  <p class="text-muted text-justify" *ngFor="let diaPromocion of plato.diaPromocion" style="display:inline;">
                    {{diaPromocion}} 
                  </p>
                </div>
                <a class="btn btn-danger" (click)="deletePlate(plato.foto)">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>