<!-- Rev a better way to show plates and promos its maybe in a grid of three elements showing only the img and with hover the text -->
<!-- something like this -->
<!-- 
|||||||||||||||||||
|         |       |
|         |||||||||
|         |       |
||||||||||||||||||| -->
<div class="container noWoodBackground">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">¿Buscas promo? las tenemos</h3>
      <h3 class="section-subheading text-muted">Para que te arriesgues a probar algo nuevo.</h3>
    </div>
  </div>
</div>
<section class="page-section parallax woodBackground" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="carouselPromos" class="carousel slide bg-dark" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators mb-0">
            <li *ngFor="let indicator of platesPerIndicator; index as i" data-target="#carouselPromos" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''"></li>
          </ul>
          <div class="carousel-inner">
            <div *ngFor="let restaurante of platesPerIndicator; index as i" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">              
              <!-- three plates per restaurant -->
                <ul class="list-inline" align="center">
                  <li class="list-inline-item">
                    <div class="card-deck pt-1">
                      <!-- first plate -->
                      <div class="card" style="width: 18rem;" *ngIf="restaurante[1]">
                        <img class="card-img-top imgRestaurantePLato" [src]="URL_IMGS_PLATE + restaurante[1].plato.foto" alt="Card image cap">
                        <div class="card-body bodyCarouselPyP mt-2">
                          <h6 class="card-title">{{restaurante[1].plato.nombre}}</h6>
                          <div class="divInfoRestaurante">
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[1].plato.precio}} mil</span>
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[1].plato.categoria}}</span>
                            <p class="card-text text-muted overflow-y-PLatesAndPromos">
                              {{restaurante[1].plato.descripcion}}<br>
                              <strong>Día promo: {{restaurante[1].plato.diaPromocion}}</strong>
                            </p>
                          </div>
                        </div>
                        <footer class="blockquote-footer text-white pb-1">
                          <a   [routerLink]="['/restaurante', restaurante[1].restaurante]" class="btn btn-danger"
                          (click)="buttonEventGA(restaurante[1].restaurante, restaurante[1].restauranteNombre, restaurante[1].plato.nombre)">
                            Ir al restaurante
                          </a>
                        </footer>
                      </div>
                      <!-- second plate -->
                      <div class="card" style="width: 18rem;" *ngIf="restaurante[2]">
                        <img class="card-img-top imgRestaurantePLato" [src]="URL_IMGS_PLATE + restaurante[2].plato.foto" alt="Card image cap">
                        <div class="card-body bodyCarouselPyP mt-2">
                          <h6 class="card-title">{{restaurante[2].plato.nombre}}</h6>
                          <div class="divInfoRestaurante">
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[2].plato.precio}} mil</span>
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[2].plato.categoria}}</span>
                            <p class="card-text text-muted overflow-y-PLatesAndPromos">
                              {{restaurante[2].plato.descripcion}}<br>
                              <strong>Día promo: {{restaurante[2].plato.diaPromocion}}</strong>
                            </p>
                          </div>
                        </div>
                        <footer class="blockquote-footer text-white pb-1">
                          <a   [routerLink]="['/restaurante', restaurante[2].restaurante]" class="btn btn-danger"
                          (click)="buttonEventGA(restaurante[2].restaurante, restaurante[2].restauranteNombre, restaurante[2].plato.nombre)">
                            Ir al restaurante
                          </a>
                        </footer>
                      </div>
                      <!-- third plate -->
                      <div class="card" style="width: 18rem;" *ngIf="restaurante[0]">
                        <img class="card-img-top imgRestaurantePLato" [src]="URL_IMGS_PLATE + restaurante[0].plato.foto" alt="Card image cap">
                        <div class="card-body bodyCarouselPyP mt-2">
                          <h6 class="card-title">{{restaurante[0].plato.nombre}}</h6>
                          <div class="divInfoRestaurante">
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[0].plato.precio}} mil</span>
                            <span class="badge badge-pill badge-danger" style="font-size: 10px">{{restaurante[0].plato.categoria}}</span>
                            <p class="card-text text-muted  overflow-y-PLatesAndPromos">
                              {{restaurante[0].plato.descripcion}}<br>
                              <strong>Día promo: {{restaurante[0].plato.diaPromocion}}</strong>
                            </p>
                          </div>
                        </div>
                        <footer class="blockquote-footer text-white pb-1">
                          <a   [routerLink]="['/restaurante', restaurante[0].restaurante]" class="btn btn-danger"
                          (click)="buttonEventGA(restaurante[0].restaurante, restaurante[0].restauranteNombre, restaurante[0].plato.nombre)">
                            Ir al restaurante
                          </a>
                        </footer>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
          <a class="carousel-control-prev arrowSliderLeft" href="#carouselPromos" data-slide="prev">
            <span class="fa-stack fa-2x arrow">
              <i class="fas fa-circle fa-stack-1x text-danger"></i>
              <i class="fas fa-arrow-circle-left fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a class="carousel-control-next arrowSliderRight" href="#carouselPromos" data-slide="next">
            <span class="fas fa-stack fa-2x arrow">
              <i class="fas fa-circle fa-stack-1x text-danger"></i>
              <i class="fas fa-arrow-circle-right fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>