<!-- Maps working directly with api google maps
See more documentation on: https://developers.google.com/maps/documentation/javascript/tutorial?authuser=2&hl=es -->
<div class="container noWoodBackground">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">{{title}}</h3>
      <h3 class="section-subheading text-muted">{{subtitle}}</h3>
    </div>
  </div>
</div>
<section class="page-section parallax" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Rev hide because of infoWindow doesn´t working -->
          <div #map style="width:100%;height:500px"  style="display: block"></div>

          <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="zoom">
            <agm-marker *ngFor="let marcador of restauranteService.restaurantes" [latitude]="marcador.lat" [longitude]="marcador.lng">
                <agm-info-window>
                  <a [routerLink]="['/restaurante', marcador._id]" 
                  (click)="buttonEventGA(marcador._id, marcador.nombre)">
                    {{marcador.nombre}}<br>
                    <img class="fotoLocalAGM" [src]="URL_IMGS_LOCAL + marcador.fotoLocal">
                  </a>
                </agm-info-window>
            </agm-marker>
          </agm-map>
      </div>
    </div>
  </div>
</section>