<!-- Navigation -->  
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" style="margin: 0px; padding: 3px;">
  <!-- Image and text -->
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/BookEat.png" width="90px" class="d-inline-block align-top bg-light ml-3" style="border-radius: 4px;" alt="BookEat">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['linkActivo']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['linkActivo']">Tengo un restaurante</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div *ngIf="nombreUsuario; then templateUsuarioLogueado else templateUsuarioNoLogueado"></div>
      <!-- If user logged -->
      <ng-template #templateUsuarioLogueado>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{nombreUsuario}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- Rev improved way to chekc if user its admin -->
            <a class="dropdown-item" [routerLink]="['/view-admin']"
            *ngIf="nombreUsuario === admin">
              Administrar
            </a>
            <!-- if flagUsuario exist then the user logged its a restaurant, otherwise its an user -->
            <a class="dropdown-item" [routerLink]="flagUsuario? ['/view-profile-restaurant'] : ['/view-profile']" [routerLinkActive]="['dropdownActivo']">
              Ver Perfil
            </a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/home']" [routerLinkActive]="['dropdownActivo']" (click)="logout()">
                Cerrar sesión
              </a>
          </div>
        </li>
      </ng-template>
      <ng-template #templateUsuarioNoLogueado>
        <!-- If user isn´t logged -->
        <li class="nav-item">
          <button class="nav-link btn btn-danger" [routerLink]="['/login']" [routerLinkActive]="['linkActivo']">
            Iniciar sesión
          </button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
