/* css for title */
.main-container {
  color: white;
  padding-top: 250px;
}

.share:hover > h1 > span {
    background: white;
    color: #39393B;
}

/* buttons used to navigate Home */
.aFlotante:hover {
    opacity: 100%;
}
.aFlotante {
    /* display: none; */
    display: scroll;
    position: fixed;
    font-size: 14px;
    z-index: 2000;
    right: 0px;
    opacity: 70%;
}
.aFlotanteRestaurantes {
    bottom:61%;
}
.aFlotanteHistorias {
    bottom:57%;
}
.aFlotantePlatos {
    bottom:53%;
}
.aFlotantePromos {
    bottom:49%;
}
.aFlotanteMapa {
    bottom:45%;
}





/* minimap titles: filters */
/* starts font awesome icons */
.selectIcons {
    font-family: 'FontAwesome', 'Second Font name';
}
.greenDolar {    
    color: limegreen;
}
.goldStar {
    color: gold;
}
/* ends font awesome icons*/
/* starts filter search by name css */
.content-search{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: arial;
    width: 100%;
    position: absolute;
    z-index: 100;
    /* static|absolute|fixed|relative|sticky|initial|inherit; */
    /* background: rgb(0,0,0,0.3); */
}

.content-table{
    width: 80%;
    max-height: 150px;
    /* height: auto; */
    background: rgba(0,0,0,0.7);
    width: 100%;
    /* margin-left: 10px; */
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table{
    width: 100%;
    color: white;
}

.content-table tbody tr td a{
    display: blocK;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.content-table tbody tr img{
    padding: 5px;
    width: 50px;
}

.content-table tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
}
/* ends filter search by name css */



