<a href="/home#firstSection" class="aFlotanteRestaurantes aFlotante badge badge-pill badge-danger">Filtros</a>
<a href="/home#aFlotanteHistorias" class="aFlotanteHistorias aFlotante badge badge-pill badge-danger">Historias</a>
<a href="/home#aFlotantePlatos" class="aFlotantePlatos aFlotante badge badge-pill badge-danger">Platos</a>
<a href="/home#aFlotantePromos" class="aFlotantePromos aFlotante badge badge-pill badge-danger">Promos</a>
<a href="/home#aFlotanteMapa" class="aFlotanteMapa aFlotante badge badge-pill badge-danger">Mapa</a>





<!-- minimap titles: Header -->
<!-- Rev put slide in header showing something else -->
<header class="masthead parallax">
    <div class="container">
        <div class="intro-text" style="padding-bottom: 0px;">
            <div class="main-container text-center">
                <div class="first-container share">
                  <h1><span id="one">B</span><span>i</span><span>e</span><span>n</span><span>v</span><span>e</span>
                    <span>n</span><span>i</span><span>d</span><span>o</span> <span class="ml-3">a</span></h1>
                </div>
                <div class="second-container share">
                  <h1><span>B</span> <span>o</span> <span>o</span> <span>k</span> <span>E</span>
                    <span>a</span><span>t</span></h1>
                </div>
                <div class="intro-heading text-uppercase" style="font-size: 16px;">¡Déjanos convencerte de porqué es mejor comer por fuera!</div>
                <a class="btn btn-danger btn-lg text-uppercase js-scroll-trigger" href="/home#firstSection">Vamos a comer</a>
            </div>
        </div>
    </div>
</header>





<!-- minimap titles: First section -->
<div class="noWoodBackground">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="d-flex justify-content-center">
                <img src="assets/BookEatVert.png" width="250px" class="d-inline-block align-top pb-3" alt="BookEat">
            </div>
            <h3 class="section-heading text-uppercase">PERMÍTENOS AYUDARTE A BUSCAR UN NUEVO RESTAURANTE.</h3>
            <h3 class="section-subheading text-muted">Para que puedas disfrutar el placer de un buen plato de comida.</h3>
        </div>
    </div>
</div>
<section class="page-section parallax woodBackground" id="firstSection">
    <div class="container">
        <div class="row text-center">
            <!-- minimap titles: Filters -->
            <div class="col-md-6 mb-3">
                <!-- Filters workded on Home Element but if we want we can make another component -->
                <!-- Worked by father to child comunicattion -->
                <!-- There are another tecniches of communication between compontents,
                    father to child and vice versa, between brothers and between remote components -->
                <div class="card">
                    <h5 class="card-header bg-dark">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-danger"></i>
                            <i class="fas fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" style="color:white; font-weight: bold;">Búsqueda</h4>
                    </h5>
                    <div class="card-body">
                        <p class="text-muted">Ultiliza nuestros diferentes filtros para realizar búsquedas que se ajusten a ti.</p>
                        <div class ="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectCategoria">Categorias</label>
                                    </div>
                                    <select class="custom-select" id="selectCategoria" [(ngModel)]="selectedCategoria">
                                        <option selected value="0">Sin filtro...</option>
                                        <option *ngFor="let categoria of categorias" value="{{categoria}}">{{categoria}}</option> 
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectPrecio">Precios por persona</label>
                                    </div>
                                    <select class="custom-select selectIcons greenDolar" id="selectPrecio" [(ngModel)]="selectedPrecio">
                                        <option selected value="0" style="color: black">-</option>
                                        <option class="selectIcons greenDolar" *ngFor="let precio of filtroPrecios, index as i" value="{{precio}}">
                                            <div *ngIf="i == 0">&#xf155;</div>
                                            <div *ngIf="i == 1">&#xf155;&#xf155;</div>
                                            <div *ngIf="i == 2">&#xf155;&#xf155;&#xf155;</div>
                                        </option>
                                        <option value="4">&#xf155;&#xf155;&#xf155;&#xf155;</option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class ="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="filtroRestaurante">Restaurantes</label>
                                    </div>
                                    <input id="filtroRestaurante" class="form-control" type="text" [(ngModel)]="filtroRestaurante.nombre" placeholder="Nombre">
                                    <div class="content-search mt-5">
                                        <div class="content-table">
                                            <table *ngIf="filtroRestaurante">
                                                <tbody>
                                                    <tr *ngFor="let restaurante of restaurantes | filterBy: filtroRestaurante">
                                                        <td *ngIf="filtroRestaurante.nombre != ''">
                                                            <a [routerLink]="['/restaurante', restaurante._id]">
                                                                <img *ngIf="restaurante.logo" [src]="URL_IMGS_LOGO + restaurante.logo">{{restaurante.nombre}}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="(restaurantes | filterBy: filtroRestaurante).length === 0">
                                                        No se han encontrado resultados
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectCalificacion">Calificación</label>
                                    </div>
                                    <select class="custom-select selectIcons goldStar" id="selectCalificacion" [(ngModel)]="selectedCalificacion">
                                        <option selected value="0" style="color: black">-</option>
                                        <option class="selectIcons goldStar" *ngFor="let calificacion of filtroCalificaion; index as i" value="{{calificacion}}">
                                            <div *ngIf="i == 0">&#xf005;</div>
                                            <div *ngIf="i == 1">&#xf005;&#xf005;</div>
                                            <div *ngIf="i == 2">&#xf005;&#xf005;&#xf005;</div>
                                            <div *ngIf="i == 3">&#xf005;&#xf005;&#xf005;&#xf005;</div>
                                            <div *ngIf="i == 4">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</div>
                                        </option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class ="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectedSchedule">Horario de Atención</label>
                                    </div>
                                    <select class="custom-select" id="selectedSchedule" [(ngModel)]="selectedSchedule">
                                        <option selected value=0>Sin filtro...</option>
                                        <option selected value=1>Abierto</option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button class="btn btn-danger" (click)="cleanFilter()">Borrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a class="btn btn-warning" href="/home#aFlotanteMapa" role="button" (click)="sendGeolocationChildrenMap()">
                                    Cerca de mi
                                </a>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-danger" (click)="getFilteredSearch()">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- minimap titles: Restaurants -->
            <div class="col-md-6">
                <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>
                <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                </span>
                <div style="color: black; background-color: white; border-radius: 5px">
                    <h4 class="service-heading">Restaurantes</h4>
                    <p class="text-muted">Encuentra los restaurantes que más te agraden.</p>
                </div>
                <app-restaurante-lista></app-restaurante-lista>
            </div>
        </div>
    </div>
</section>




<!-- Rev we can use only one method to bring all the restaurantes and its info so we dont need to make 4 or 5 times the same query -->
<!-- Rev make sure to bring those restaurants on a random order -->
<!-- minimap titles: historias -->
<app-historia id="aFlotanteHistorias"></app-historia>

<!-- Minimap titles: platos -->
<app-mejor-plato id="aFlotantePlatos"></app-mejor-plato>

<!-- Minimap titles: promos -->
<app-mejor-promo id="aFlotantePromos"></app-mejor-promo>

<!-- Minimap titles: mapa -->
<app-mapa id="aFlotanteMapa"></app-mapa>