::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100em gainsboro;
}

::-webkit-scrollbar-thumb {
    background: slategray;
    border: 2px solid #555555;
}

::-webkit-scrollbar-thumb:hover {
    background: skyblue;
}

.cont {
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 33.33%;
    margin: 1%;
}