<div class="cont container-fluid">
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="logo.png" alt="Card image" style="width:100%">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
      {{footer}}
    </div>
  </div>
</div>