.imgRestaurante {
    width: 100%;
    height: 383px;
    object-fit: cover;
}

.card {
    border-radius: 2%;
    border: 3px solid;
}

/* start sliding background */
    /* hides and set background to card-body */
    .card-body{
        position: absolute;
        bottom: 101%;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;

        background: linear-gradient(-45deg, red, rgb(56, 109, 255), rgba(255, 217, 0, 0.925));
        background-size: 400% 400%;
        animation: change 10s ease-in-out infinite;
        opacity: 0.9;
    }

    /* animation for card-body backgroun */
    @keyframes change {
        0%{
            background-position: 0% 40%;
        }
        40%{
            background-position: 100% 40%;
        }
        100%{
            background-position: 0% 40%;
        }
    }

    /* drags the card body so we can see it */
    .card:hover .card-body {
        bottom: 0;
        height: 100%;
    }
/* ends sliding background */

/* start text */
.card-title, .divInfoRestaurante {
    color: white;
}

.card-body{
    border: 3px solid #fff;
    padding: 3rem 3rem;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    border: 3px solid white;
}
/* ends text */