<!-- This component its used to show all or filtered restaurants -->
<div id="carouselRestaurantes" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li *ngFor="let indicator of restauranteService.restaurantes; index as i" data-target="#carouselRestaurantes" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''"></li>
  </ul>
  <div class="carousel-inner">
    <div *ngFor="let restaurante of restauranteService.restaurantes; index as i" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
      <ul class="list-inline">
        <li class="list-inline-item">
          <div class="card">
            <img class="card-img-top imgRestaurante" [src]="URL_IMGS_LOCAL + restaurante.fotoLocal"
              alt="Card image cap">
            <div class="card-body">
              <div class="text">
                <h4 class="card-title">{{restaurante.nombre}}</h4>
                <div class="divInfoRestaurante">
                  Mínimo: ${{restaurante.precioMinimo}} c/u
                  <hr>
                  <div *ngFor="let categoria of restaurante.categoria">
                    {{categoria}}<br>
                  </div>
                  <br>
                </div>
                <a [routerLink]="['/restaurante', restaurante._id]" class="btn btn-danger buttonGoToSite"
                (click)="buttonEventGA(restaurante._id, restaurante.nombre)">
                  Ir al sitio
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselRestaurantes" data-slide="prev">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-1x text-danger"></i>
      <i class="fas fa-arrow-circle-left fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a class="carousel-control-next" href="#carouselRestaurantes" data-slide="next">
    <span class="fas fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-1x text-danger"></i>
      <i class="fas fa-arrow-circle-right fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</div>