<!-- Rev there are two ways to validate forms:
1. reactive angular forms, just like worked here login, there is a problem, its hard to work with two way data bingind like user-admin-profile because we cannot use [(ngModel)]
2. template driven forms, its old but its easier work with two way data binding, implemented on user-admin-profile -->
<div class="paddingNavbarFixed my-4 pb-5 bg-login" style="color: black">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-7 col-md-5">
      <div class="card">
        <div class="card-header text-center">
          <h3>Ingresar</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <!-- Minimap titles: Login user by form -->
            <form class="login-container" (ngSubmit)="onLogin(formLogin)" [formGroup]="formLogin">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <label>E-mail</label>
                    <input class="form-control" type="text" name="user" placeholder="Correo" maxlength="60" placeholder="E-mail"
                    formControlName="email" 
                    [ngClass]="formLogin.get('email').touched && formLogin.get('email').invalid ? 'is-invalid' : ''">
                    <div *ngIf="formLogin.get('email').touched && formLogin.get('email').invalid" class="invalid-feedback">
                      <div *ngIf="formLogin.get('email').errors.required">Por favor ingrese un E-mail.</div>
                      <div *ngIf="formLogin.get('email').errors.pattern">E-mail incorrecto.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" name="contrasena" maxlength="20" placeholder="Contraseña"
                    formControlName="contrasena" 
                    [ngClass]="formLogin.get('contrasena').touched && formLogin.get('contrasena').invalid ? 'is-invalid' : ''">
                    <div *ngIf="formLogin.get('contrasena').touched && formLogin.get('contrasena').invalid" class="invalid-feedback">
                      <div *ngIf="formLogin.get('contrasena').errors.required">Por favor ingrese su contraseña.</div>
                      <div *ngIf="formLogin.get('contrasena').errors.pattern">
                        Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-)<>.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-group d-flex justify-content-center mt-2">
                  <div class="row">
                    <div class="col-auto">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddUser">
                        Registrarme
                      </button>
                    </div>
                    <div class="col-auto">
                      <button type="subtmit" class="btn btn-danger" [disabled]="!formLogin.valid">Ingresar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </li>
          <li class="list-group-item">
            <!-- Minimap titles: login with social media (Google and Facebook) -->
            <button class="btn btn-danger btn-block" (click)="signInWithGoogle()">
              Ingresar con Google
            </button>
            <!-- <button class="btn btn-outline-primary btn-block" (click)="signInWithFB()">
              Ingresar con Facebook
            </button> -->
            <!-- <button class="btn btn-outline-primary btn-block" (click)="signOut()">
              cerrar Sesión
            </button> -->
            <!-- <div *ngIf="user">
              <img src="{{ user.photoUrl }}">
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div> -->
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalLoginRestaurant">
              Soy un Restaurante
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#modalForgotPassword">Olvide mi Contraseña</button>
          </li>
        </ul>
      </div>
    </div>
  
  </div>
</div>





<!-- minimap titles -->
<!-- Modals -->
<!-- Modal register user  -->
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddUserTitle">Registro</h5>
        <button type="button" class="close" id="closeModalAddUser" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUser">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group row d-flex justify-content-center">
                <input type="file" class="d-none" name="fotoInput" accept="image/*"
                #fotoInput (change)="photoSelected($event)">
                <img [src]=" photo || 'assets/no-profile-photo.png'" class="selectedProfilePhoto m-2" alt="Foto de perfil" (click)="fotoInput.click()">
              </div>
              <div class="form-group">
                <label for="">Usuario</label>
                <input type="text" class="form-control" placeholder="usuario" name="usuario"  maxlength="20"
                formControlName="usuario"
                [ngClass]="formUser.get('usuario').touched && formUser.get('usuario').invalid ? 'is-invalid' : ''">
                <div class="invalid-feedback">
                  Por favor ingrese un usuario.
                </div>
              </div>
              <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre"  maxlength="50"
                formControlName="nombre"
                [ngClass]="formUser.get('nombre').touched && formUser.get('nombre').invalid ? 'is-invalid' : ''">
                <div class="invalid-feedback">
                  Por favor ingrese su nombre.
                </div>
              </div>
              <div class="form-group">
                <label for="">E-mail</label>
                <input type="text" class="form-control" placeholder="correo" name="correo"  maxlength="60"
                formControlName="correo"
                [ngClass]="formUser.get('correo').touched && formUser.get('correo').invalid ? 'is-invalid' : ''">
                <div *ngIf="formUser.get('correo').touched && formUser.get('correo').invalid" class="invalid-feedback">
                  <div *ngIf="formUser.get('correo').errors.required">Por favor ingrese un E-mail de contacto.</div>
                  <div *ngIf="formUser.get('correo').errors.pattern">El E-mail debe ser un E-mail válido.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Fecha de Nacimiento</label>
                <input type="date" class="form-control" placeholder="fechaNacimiento" name="fechaNacimiento"
                min="1900-12-12" max="2019-12-12"
                formControlName="fechaNacimiento">
              </div>
              <div class="form-group">
                <label for="">Celular</label>
                <input type="tel" class="form-control" placeholder="celular" name="celular" maxlength="10"
                formControlName="celular"
                [ngClass]="formUser.get('celular').touched && formUser.get('celular').invalid ? 'is-invalid' : ''">
                <div class="invalid-feedback">
                  Por favor ingrese un número celular válido.
                </div>
              </div>
              <div class="form-group mt-1">
                <label for="">Contraseña</label>
                <input type="password" class="form-control" placeholder="contraseña" name="contrasena" maxlength="20"
                formControlName="contrasena"
                [ngClass]="formUser.get('contrasena').touched && formUser.get('contrasena').invalid ? 'is-invalid' : ''">
                <div *ngIf="formUser.get('contrasena').touched && formUser.get('contrasena').invalid" class="invalid-feedback">
                  <div *ngIf="formUser.get('contrasena').errors.required">Por favor ingrese una contraseña.</div>
                  <div *ngIf="formUser.get('contrasena').errors.pattern">
                    Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-)<>.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Confirmar contraseña</label>
                <input type="password" class="form-control" placeholder="repetir contraseña" name="passwordRepeat" maxlength="20"
                formControlName="passwordRepeat"
                [ngClass]="formUser.get('passwordRepeat').touched && formUser.get('passwordRepeat').invalid ? 'is-invalid' : ''">
                <div class="invalid-feedback">
                  Por favor confirme la contraseña.
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="resetForm(formUser)">Borrar</button>
        <button class="btn btn-primary" (click)="onRegister(formUser)" [disabled]="!formUser.valid">Registrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal login Restaurant -->
<div class="modal fade" id="modalLoginRestaurant" tabindex="-1" role="dialog" aria-labelledby="modalLoginRestaurantLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginRestaurantLabel">Iniciar Sesión Restaurantes</h5>
        <button type="button" class="close" id="closeModalRestaurant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Minimap titles: Login restaurant by form -->
        <form class="login-container" [formGroup]="formLoginRest">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <label>E-mail</label>
                <input class="form-control" type="text" name="email" placeholder="E-mail"
                formControlName="email"
                [ngClass]="formLoginRest.get('email').touched && formLoginRest.get('email').invalid ? 'is-invalid' : ''">
                <div *ngIf="formLoginRest.get('email').touched && formLoginRest.get('email').invalid" class="invalid-feedback">
                  <div *ngIf="formLoginRest.get('email').errors.required">Por favor ingrese un E-mail.</div>
                  <div *ngIf="formLoginRest.get('email').errors.pattern">E-mail incorrecto.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8 mt-2">
                <label>Contraseña</label>
                <input class="form-control" type="password" name="contrasena" placeholder="Contraseña"
                formControlName="contrasena"
                [ngClass]="formLoginRest.get('contrasena').touched && formLoginRest.get('contrasena').invalid ? 'is-invalid' : ''">
                <div *ngIf="formLoginRest.get('contrasena').touched && formLoginRest.get('contrasena').invalid" class="invalid-feedback">
                  <div *ngIf="formLoginRest.get('contrasena').errors.required">Por favor ingrese su contraseña.</div>
                  <div *ngIf="formLoginRest.get('contrasena').errors.pattern">
                    Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-)<>.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onLoginRestaurant(formLoginRest)" [disabled]="!formLoginRest.valid">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  forgot password -->
<div class="modal fade" id="modalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="modalForgotPasswordLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="recoverPassword(recoverPasswordForm)" [formGroup]="recoverPasswordForm">
        <div class="modal-header">
          <h5 class="modal-title" id="modalForgotPasswordLabel">Recuperar Contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <div class="alert alert-success" role="alert">
                Si eres un usuario o restaurante registrado podrás recuperar tu contraseña.
              </div>
              <label>Por favor introduce el correo electrónico para buscar tu cuenta.</label>
              <input type="email" class="form-control" name="email" maxlength="60"
              formControlName="email" 
              [ngClass]="recoverPasswordForm.get('email').touched && recoverPasswordForm.get('email').invalid ? 'is-invalid' : ''"
              placeholder="E-mail con el cual nos pondremos en contacto" ngModel>
              <div *ngIf="recoverPasswordForm.get('email').touched && recoverPasswordForm.get('email').invalid" class="invalid-feedback">
                <div *ngIf="recoverPasswordForm.get('email').errors.required">Por favor ingrese un E-mmail de contacto.</div>
                <div *ngIf="recoverPasswordForm.get('email').errors.pattern">El E-mail es incorrecto.</div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!recoverPasswordForm.valid">Enviar E-mail</button>
        </div>
      </form>
    </div>
  </div>
</div>