<div class="container noWoodBackground">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">{{title}}</h3>
      <h3 class="section-subheading text-muted">¿Cómo fue crear tu restaurante?</h3>
      <h3 class="section-subheading text-muted">Porque todos tenemos una historia para contar.</h3>
    </div>
  </div>
</div>
<section class="page-section parallax woodBackground" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item" *ngFor="let i of threeHistorys">
        <div *ngIf="restauranteService.restaurantes">
          <div *ngIf="restauranteService.restaurantes[i]">
            <a class="portfolio-link" [routerLink]="['/restaurante', restauranteService.restaurantes[i]._id]" 
            (click)="buttonEventGA(restauranteService.restaurantes[i]._id, restauranteService.restaurantes[i].nombre)">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  Visitar el sitio
                </div>
              </div>
              <img class="img-fluid imgRestaurantehistoria" [src]="URL_IMGS_LOCAL + restauranteService.restaurantes[i].fotoLocal" alt="restaurante">
            </a>
            <div class="portfolio-caption">
              <h5>{{restauranteService.restaurantes[i].nombre}}</h5>
              <p class="text-muted text-justify">{{restauranteService.restaurantes[i].historia}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 justify-content-end">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".ModalVerMas-xl">
          Ver más
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Minimap titles: modals -->
<!-- modal Ver Mas -->
<!-- Modal -->
<div class="portfolio-modal modal fade ModalVerMas-xl"  tabindex="-1" role="dialog" aria-labelledby="ModalVerMasLabel-lx" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content parallax modalFood">
      <h3 style="color: white;">TODAS NUESTRAS HISTORIAS</h3>
      <div class="close-modal bg-light" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <section class="py-4 mx-auto" id="portfolio">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-sm-12 portfolio-item" *ngFor="let restaurante of restauranteService.restaurantes">
              <div *ngIf="restaurante">
              <a class="portfolio-link" [routerLink]="['/restaurante', restaurante._id]" 
              (click)="buttonEventGA(restaurante._id, restaurante.nombre)">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    Visitar el sitio
                  </div>
                </div>
                <img class="img-fluid imgRestaurantehistoria" [src]="URL_IMGS_LOCAL + restaurante.fotoLocal" alt="restaurante">
              </a>
              <div class="portfolio-caption">
                <h5>{{restaurante.nombre}}</h5>
                <p class="text-muted text-justify">{{restaurante.historia}}</p>
              </div>
              </div>
            </div>
            <button class="btn btn-danger" data-dismiss="modal" type="button"  id="closeModalVerMas">
              <i class="fas fa-times"></i> Cerrar
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>