/* img card bootstrap historias*/
.imgRestaurantehistoria {
  width: 100%;
  height: 183px;
  object-fit: cover;
}

/* .imgRestaurantehistoria, .portfolio-caption {
  border-radius: 0%;
  border: 1px solid;
} */