<!-- <app-list [name]="name" [body]="name" [footer]="name"></app-list>
<app-list [name]="body" [body]="body" [footer]="body"></app-list>
<app-list [name]="footer" [body]="footer" [footer]="footer"></app-list> -->
<app-navbar-general></app-navbar-general>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- testing enviroments.
    run app with ng serve --configuration=production to work as production.
    run app with ng serve to work as development (local)-->
    <!-- <pre>{{env | json}}</pre> -->