/* minimmap titles: starts TITLES */
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
.main-container {
    /* background: #39393B; */
  font-family: "Saira Semi Condensed", sans-serif;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #39393B;
}

.first-container, .second-container {
  cursor: pointer;
  position: relative;
}

.first-container h1, .second-container h1 {
  position: relative;
  letter-spacing: 2px;
  font-size: 5vw;
}

/* If the screen size is 601px or less, change font-size of titles */
@media only screen and (max-width: 601px) {
  .first-container h1, .second-container h1 {
    font-size: 10vw;
    letter-spacing: 0.5px;
  }
}

.first-container {
  margin-top: 100px;
  margin-bottom: 15px;
}

span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.share:hover > h1 > span:nth-child(1):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}

.share:hover > h1 > span:nth-child(1) {
  color: white;
  transition-delay: 110ms;
}

.share:hover > h1 > span:nth-child(2):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}

.share:hover > h1 > span:nth-child(2) {
  color: white;
  transition-delay: 220ms;
}

.share:hover > h1 > span:nth-child(3):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}

.share:hover > h1 > span:nth-child(3) {
  color: white;
  transition-delay: 330ms;
}

.share:hover > h1 > span:nth-child(4):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}

.share:hover > h1 > span:nth-child(4) {
  color: white;
  transition-delay: 440ms;
}

.share:hover > h1 > span:nth-child(5):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}

.share:hover > h1 > span:nth-child(5) {
  color: white;
  transition-delay: 550ms;
}

.share:hover > h1 > span:nth-child(6):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}

.share:hover > h1 > span:nth-child(6) {
  color: white;
  transition-delay: 660ms;
}

.share:hover > h1 > span:nth-child(7):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}

.share:hover > h1 > span:nth-child(7) {
  color: white;
  transition-delay: 770ms;
}

.share:hover > h1 > span:nth-child(8):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}

.share:hover > h1 > span:nth-child(8) {
  color: white;
  transition-delay: 880ms;
}

.share:hover > h1 > span:nth-child(9):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}

.share:hover > h1 > span:nth-child(9) {
  color: white;
  transition-delay: 990ms;
}

.share:hover > h1 > span:nth-child(10):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

.share:hover > h1 > span:nth-child(10) {
  color: white;
  transition-delay: 1100ms;
}

.share:hover > h1 > span:nth-child(11):after {
  background: #39393B;
  border: 1px solid white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

.share:hover > h1 > span:nth-child(11) {
  color: white;
  transition-delay: 1100ms;
}
/* ends TITLES */




/* start scroll effect */
html {
  scroll-behavior: smooth;
}
/* end scroll effect */





/* minimap titles: parallax and loaded image from assets*/
.parallax {
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}

.modalFood {
  background-image: url("/assets/modalFoodBackground.jpg");
  background-size: cover;
}

/* loads the image from assets */
.woodBackground { 
  background-image: url("/assets/woodBackground.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 500px; 
}

/* sets style for div without wood background */
.noWoodBackground {
  padding-top: 50px;
  padding-bottom: 50px;
}





/* css for profile picture on profile, register and view admin */
.profilePictureMini{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.selectedProfilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.btn {
    color: white;
    font-weight: bold;
}





/* css for platos and promos */
.imgRestaurantePLato {
    width: 100%;
    height: 283px;
    object-fit: cover;
}
  
.divRestaurantePlato {
    max-width: 286px;
    max-height: 220px;
}

.overflow-y-PLatesAndPromos{
  overflow-y: scroll;
  height: 160px;
  font-size: 12x;
}




/* starts css for sliders */
.arrow:hover {
  border-radius: 300px;
  width: 50px;
  background: #39393B;
}

.arrowSliderLeft:hover {
  border: 1px solid white;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-5deg);
  border-radius: 300px;
  opacity: 0.5;
}

.arrowSliderRight:hover {
  border: 1px solid white;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(5deg);
  border-radius: 300px;
  opacity: 0.5;
}

.bodyCarouselPyP {
    height: 290px
}
/* ends css for sliders */




/* css used to fix padding because of fixed navbar */
.paddingNavbarFixed {
  padding-top: 100px;
}