.hoverDay:hover { 
    background-color: lightgray;
}

/* minimap titles: starts css for reseñas reseñas */
h6 > a{
    color: red;
}

h6 > a:hover{
    color: white;
    background-color: #FF005A;
    border-radius: 5px;
}

h6 > a:active{
    color: red;
}




/* carousel */
/* .imgCarousel {
    max-width: 75%;
    max-height: 350px;
} */





/* cards platos */
/* .contenedor {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position:relative; 
    width: 400px; 
    height:400px; 
    
    overflow:hidden;
    color:#fff;
    font-family: 'verdana';
}

.contenedor h3{
    margin: 10px 0px 0px 40px;
    position:absolute; 
    left:0px;
    top:10px; 
    transform:translateX(-120%);
    transition:all .5s ease;
} 
.contenedor h6{
    margin: 10px 0px 0px 40px;
    position:absolute; 
    left:0px;
    top:10px; 
    background: #FF005A;
    transform:translateY(0%);
    transition:all .5s ease;
} 
.contenedor p{
    margin: 90px 0px 0px 40px;
    position:absolute; 
    left:0px;
    bottom:100px; 
    transform:translateX(260%); 
    transition:all .4s ease;  
} 

.contenedor:before{ 
    position: absolute;
    top:335px; 
    left:20px;
    content:""; 
    width:0%; 
    height:3px; 
    background:#FF005A;
    transition:all .3s ease;
} 
.contenedor:after{ 
    position: absolute; 
    top:10px; 
    right:20px; 
    content:""; 
    width:0%; 
    height:3px; 
    background:#FF005A;
    transition:all .3s ease;
} 

.contenedor:hover:before{ 
    width: 90%;
}
.contenedor:hover:after {
    width: 90%;
}
.contenedor:hover h3,.contenedor:hover p{
    transform:translateX(0%); 
    transition:all .3s ease;
    background: #FF005A;
    border-radius: 3%;
}
.contenedor:hover h6{
    transform:translateY(-200%); 
    transition:all .3s ease;
    border-radius: 3%;
}
.contenedor:hover{
background-size: 110% 110%;
transition:all .5s ease;
} */

/* nuevas cards paltos y promos */
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
} */



/* Mapa */
agm-map {
    height: 400px;
}







/* minimap titles: starts calificacion con estrellas */
#form p {
  text-align: center;
}

#form label {
  font-size: 100px;
}

input[type="checkbox"] {
    display: none;
}

label {
  color: lightgray;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label[class="radioCalificacion"]:hover {
    color: orange;
}

label[class="radioCalificacion"]:hover ~ label {
  color: orange;
}

input[type="checkbox"]:checked ~ label {
    color: orange;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked ~ label {
    color: orange;
}
/* minimap titles: ends calificacion con estrellas */





/* new modals plates and promos */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    top: 10%;
}

@media only screen and (max-width: 400px) {
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 12px;
    }

    #portfolio .portfolio-item .portfolio-caption h5,
    #portfolio .portfolio-item .portfolio-caption {
        font-size: 15px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* css for platos and promos */
.imgRestaurantePLato {
    width: 100%;
    height: 283px;
    object-fit: cover;
}




/* minimap titles: starts new slider */
.imgPrimarySlider {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card {
    border-radius: 2%;
    border: 3px solid;
}

/* start sliding background */
/* hides and set background to card-body */
.card-body{
    position: absolute;
    bottom: 101%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;

    background: linear-gradient(-45deg, red, rgb(56, 109, 255), rgba(255, 217, 0, 0.925));
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    opacity: 0.9;
}

/* animation for card-body backgroun */
@keyframes change {
    0%{
        background-position: 0% 40%;
    }
    40%{
        background-position: 100% 40%;
    }
    100%{
        background-position: 0% 40%;
    }
}

/* drags the card body so we can see it */
.card:hover .card-body {
    bottom: 0;
    height: 100%;
}
/* ends sliding background */

/* start text */
.card-title, .plateDescription {
    color: white;
    font-size: 20px;
}

.card-body{
    border: 3px solid #fff;
    padding: 3rem 3rem;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    border: 3px solid white;
}
/* ends text */
/* ends css for newSlider */