<div class="row parallax woodBackground" style="padding-top: 100px;">
  <div class="col-12">
    <div class="container bg-white py-3 px-3 my-3" style="border-radius: 10px; opacity: 95%;">
      <!--
        ██ ███    ██ ███████  ██████  ██████  ███    ███  █████   ██████ ██  ██████  ███    ██     ██████   █████  ███████ ██  ██████  █████
        ██ ████   ██ ██      ██    ██ ██   ██ ████  ████ ██   ██ ██      ██ ██    ██ ████   ██     ██   ██ ██   ██ ██      ██ ██      ██   ██
        ██ ██ ██  ██ █████   ██    ██ ██████  ██ ████ ██ ███████ ██      ██ ██    ██ ██ ██  ██     ██████  ███████ ███████ ██ ██      ███████
        ██ ██  ██ ██ ██      ██    ██ ██   ██ ██  ██  ██ ██   ██ ██      ██ ██    ██ ██  ██ ██     ██   ██ ██   ██      ██ ██ ██      ██   ██
        ██ ██   ████ ██       ██████  ██   ██ ██      ██ ██   ██  ██████ ██  ██████  ██   ████     ██████  ██   ██ ███████ ██  ██████ ██   ██
        -->
      <div class="row">
        <div class="col-sm-5">
          <div class="row">
            <div class="col-4">
              <img [src]="URL_IMGS_LOGO + restauranteService.selectedRestaurante.logo" width="100%" style="border-radius: 5%">
            </div>
            <div class="col-8">
              <h3>{{restauranteService.selectedRestaurante.nombre}}</h3>
              <h6>{{restauranteService.selectedRestaurante.slogan}}</h6>
              <p class="clasificacion">
                <!-- Rev fix checkbox, how to properly disable a checkbox -->
                <input id="calificacionRadio1" type="checkbox" value="5" [checked]="calificacionRestaurante == 5 ? true : false" disabled><!--
                --><label for="calificacionRadio1" disabled>★</label><!--
                --><input id="calificacionRadio2" type="checkbox" value="4" [checked]="calificacionRestaurante == 4 ? true : false" disabled><!--
                --><label for="calificacionRadio2" disabled>★</label><!--
                --><input id="calificacionRadio3" type="checkbox" value="3" [checked]="calificacionRestaurante == 3 ? true : false" disabled><!--
                --><label for="calificacionRadio3" disabled>★</label><!--
                --><input id="calificacionRadio4" type="checkbox" value="2" [checked]="calificacionRestaurante == 2 ? true : false" disabled><!--
                --><label for="calificacionRadio4" disabled>★</label><!--
                --><input id="calificacionRadio5" type="checkbox" value="1" [checked]="calificacionRestaurante == 1 ? true : false" disabled><!--
                --><label for="calificacionRadio5" disabled>★</label>
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 my-3 py-3">
              <p>{{restauranteService.selectedRestaurante.direccion}}</p>
              <p>{{restauranteService.selectedRestaurante.celular}} - {{restauranteService.selectedRestaurante.fijo}}</p>
              <strong>Horario</strong>
                <div class="row hoverDay pl-4" *ngFor="let Dia of horarioInfo">
                  <div class="col-4">
                    {{Dia.dia}}:
                  </div>
                  <div class="col-8">
                    {{Dia.horario}}
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!--
        ███████ ██      ██ ██████  ███████ ██████
        ██      ██      ██ ██   ██ ██      ██   ██
        ███████ ██      ██ ██   ██ █████   ██████
            ██ ██      ██ ██   ██ ██      ██   ██
        ███████ ███████ ██ ██████  ███████ ██   ██
        -->
        <div class="col-sm-7">
          <div class="row">
            <div class="col-12">
              <div id="carouselRestaurantes" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li *ngFor="let element of fotosSlider; index as i" data-target="#carouselRestaurantes" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''"></li>
                </ul>
                <div class="carousel-inner">
                  <div *ngFor="let element of fotosSlider; index as i" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <div class="card">
                          <img class="card-img-top imgPrimarySlider" [src]="element[0]"
                            alt="Imagenes slider">
                          <div class="card-body">
                            <div class="text">
                              <h4 class="card-title">{{element[1]}}</h4>
                              <hr>
                              <p class="plateDescription text-center">{{element[2]}}</p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <a class="carousel-control-prev arrowSliderLeft" href="#carouselRestaurantes" data-slide="prev">
                  <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-1x text-danger"></i>
                    <i class="fas fa-arrow-circle-left fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a class="carousel-control-next arrowSliderRight" href="#carouselRestaurantes" data-slide="next">
                  <span class="fas fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-1x text-danger"></i>
                    <i class="fas fa-arrow-circle-right fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="row text-center mt-1">
            <div class="col-12 alert alert-danger" style="font-size: 12px">
              <strong>Precio mínimo: ${{precioMinimo}}</strong>
              (incluye bebida y comida por persona)
            </div>
          </div>
        </div>
      </div>
      <!-- servicios y metodos de pago -->
      <div class="row px-3 d-flex justify-content-center">
        <div *ngFor="let servicio of restauranteService.selectedRestaurante.servicio" class="col-auto badge badge-danger mr-1 mt-1">
          {{servicio}}
        </div>
      </div>
      <div class="row mt-1 px-3 d-flex justify-content-center">
        <div *ngFor="let metodoPago of restauranteService.selectedRestaurante.metodoPago" class="col-auto badge badge-danger mr-1 mt-1">
          {{metodoPago}}
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<hr><hr>
<!--
███    ███ ███████ ███    ██ ██    ██
████  ████ ██      ████   ██ ██    ██
██ ████ ██ █████   ██ ██  ██ ██    ██
██  ██  ██ ██      ██  ██ ██ ██    ██
██      ██ ███████ ██   ████  ██████
-->
<div class="noWoodBackground">
  <div class="container">
    <div class="main-container text-center">
      <div class="first-container share">
        <h1><span id="one">M</span><span>E</span><span>N</span><span>Ú</span></h1>
      </div>
      <div class="second-container share">
        <h1><span>Come</span> <span class="ml-2">lo</span> <span class="ml-2">que</span> <span class="ml-2">te</span> <span class="ml-2">gusta.</span></h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <!-- <div class="col-auto">
        <button type="button" class="btn btn-warning mt-1" data-toggle="modal" data-target=".modalPlates-xl"
        (click)="getCategoriaPlato('view all')">
          VER TODAS LAS CATEGORIAS
        </button><br>
      </div> -->
      <div *ngFor="let categoria of foodCategories" class="col-auto">
        <button type="button" class="btn btn-danger mt-1" data-toggle="modal" data-target=".modalPlates-xl" (click)="getCategoriaPlato(categoria)">
          {{categoria | uppercase}}
        </button>
      </div>
    </div>
  </div>
</div>
<hr><hr>
<!--
██████  ██████   ██████  ███    ███  ██████   ██████ ██  ██████  ███    ██ ███████ ███████
██   ██ ██   ██ ██    ██ ████  ████ ██    ██ ██      ██ ██    ██ ████   ██ ██      ██
██████  ██████  ██    ██ ██ ████ ██ ██    ██ ██      ██ ██    ██ ██ ██  ██ █████   ███████
██      ██   ██ ██    ██ ██  ██  ██ ██    ██ ██      ██ ██    ██ ██  ██ ██ ██           ██
██      ██   ██  ██████  ██      ██  ██████   ██████ ██  ██████  ██   ████ ███████ ███████
-->
<div class="parallax woodBackground">
  <div class="container">
    <div class="main-container text-center" style="color: white;">
      <div class="first-container share">
        <h1><span id="one">P</span><span>R</span><span>O</span><span>M</span><span>O</span><span>S</span></h1>
      </div>
      <div class="second-container share">
        <h1><span>De</span> <span class="ml-2">la</span> <span class="ml-2">casa.</span></h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div *ngFor="let diaPromo of promoDays; index as i" class="col-auto">
        <button type="button" class="btn btn-danger mt-1" data-toggle="modal" data-target=".modalPromos-xl"
          (click)="getDiaPromo(diaPromo)">
          {{diaPromo | uppercase}}
        </button>
      </div>
    </div>
  </div>
</div>
<hr><hr>
<!--
███    ███  █████  ██████   █████
████  ████ ██   ██ ██   ██ ██   ██
██ ████ ██ ███████ ██████  ███████
██  ██  ██ ██   ██ ██      ██   ██
██      ██ ██   ██ ██      ██   ██
-->
<div class="noWoodBackground">
  <div class="container">
    <div class="main-container text-center">
      <div class="first-container share">
        <h1><span id="one">U</span><span>B</span><span>Í</span><span>C</span><span>A</span><span>N</span><span>O</span><span>S</span></h1>
      </div>
    </div>
    <agm-map [latitude]="restauranteService.selectedRestaurante.lat" [longitude]="restauranteService.selectedRestaurante.lng"
    [zoom]="16">
    <!-- [label]="marcador.label" poner con este label la imagen de la app -->
    <agm-marker [latitude]="restauranteService.selectedRestaurante.lat" [longitude]="restauranteService.selectedRestaurante.lng">
      <agm-info-window>
        <a>{{restauranteService.selectedRestaurante.nombre}}</a>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  </div>
</div>
<hr><hr>
<!--
██████  ███████ ███████ ███████ ███    ██  █████
██   ██ ██      ██      ██      ████   ██ ██   ██
██████  █████   ███████ █████   ██ ██  ██ ███████
██   ██ ██           ██ ██      ██  ██ ██ ██   ██
██   ██ ███████ ███████ ███████ ██   ████ ██   ██
-->
<div class="parallax woodBackground">
  <div class="container">
    <div class="main-container text-center" style="color: white;">
      <div class="first-container share">
        <h1><span id="one">C</span><span>U</span><span>É</span><span>N</span><span>T</span><span>A</span><span>N</span><span>O</span><span>S</span></h1>
      </div>
      <div class="second-container share">
        <h1><span>¿Te</span> <span class="ml-2">gustó?</span></h1>
      </div>
    </div>
    <!-- create resenhas -->
    <div *ngIf="usuario && usuario !='BookEat'; then templateUsuarioLogueado else templateUsuarioNoLogueado"></div>
    <ng-template #templateUsuarioLogueado>
      <form #resenaForm="ngForm">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="resenaService.selectedResena._id">
        <div class="row">
          <div class="col-sm-12">
              <textarea rows="5" class="form-control" id="resena" name="texto" #name="ngModel" maxlength="500"
              placeholder="Realice su reseña (máximo 500 caracteres)"
              [(ngModel)]="resenaService.selectedResena.texto"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto">
            <p class="clasificacion">
              <!-- Rev en vez de estrellas, tenedores -->
              <input id="radio1" type="radio" name="calificacion" value="5" #name="ngModel" [(ngModel)]="resenaService.selectedResena.calificacion"><!--
              --><label for="radio1" class="radioCalificacion">★</label><!--
              --><input id="radio2" type="radio" name="calificacion" value="4" #name="ngModel" [(ngModel)]="resenaService.selectedResena.calificacion"><!--
              --><label for="radio2" class="radioCalificacion">★</label><!--
              --><input id="radio3" type="radio" name="calificacion" value="3" #name="ngModel" [(ngModel)]="resenaService.selectedResena.calificacion"><!--
              --><label for="radio3" class="radioCalificacion">★</label><!--
              --><input id="radio4" type="radio" name="calificacion" value="2" #name="ngModel" [(ngModel)]="resenaService.selectedResena.calificacion"><!--
              --><label for="radio4" class="radioCalificacion">★</label><!--
              --><input id="radio5" type="radio" name="calificacion" value="1" #name="ngModel" [(ngModel)]="resenaService.selectedResena.calificacion"><!--
              --><label for="radio5" class="radioCalificacion">★</label>
            </p>
          </div>
        </div>
        <button class="btn btn-danger" (click)="addResena(resenaForm)">Publicar reseña</button>
        <button class="btn btn-danger ml-2" (click)="resetForm(resenaForm)">Borrar</button>
      </form>
    </ng-template>
    <ng-template #templateUsuarioNoLogueado>
      <div class="alert alert-danger" role="alert">
        <h6 *ngIf="usuario == 'BookEat'">Por favor iniciar sesión desde una cuenta de comensal para realizar una reseña.</h6>
        <h6>
          Por favor <a [routerLink]="['/login']" [routerLinkActive]="['linkActivo']">Inicia sesión o registrate</a> para
          realizar una reseña.
        </h6>
      </div>
    </ng-template>
    <br>
    <!-- show resenhas -->
    <div *ngFor="let resenha of resenaService.resenas" class="row pt-4">
      <div class="col-12">
        <!-- Rev imrpove way to check if user its admin -->
        <button class="btn btn-danger" (click)="deleteResenha(resenha._id)" *ngIf="resenha.usuario == usuario || usuario =='BookEat'">X</button>
        <strong><u class="badge badge-pill badge-light text-left" style="font-size: 15px; display: inline;">
          {{resenha.usuario}}
          <p class="clasificacion pl-2" style="display: inline;">
            <input id="radio1{{resenha._id}}" type="checkbox" name="calificacion" value="5" [checked]="resenha.calificacion == 5 ? true : false" disabled><!--
            --><label for="radio1{{resenha._id}}">★</label><!--
            --><input id="radio2{{resenha._id}}" type="checkbox" name="calificacion" value="4" [checked]="resenha.calificacion == 4 ? true : false" disabled><!--
            --><label for="radio2{{resenha._id}}">★</label><!--
            --><input id="radio3{{resenha._id}}" type="checkbox" name="calificacion" value="3" [checked]="resenha.calificacion == 3 ? true : false" disabled><!--
            --><label for="radio3{{resenha._id}}">★</label><!--
            --><input id="radio4{{resenha._id}}" type="checkbox" name="calificacion" value="2" [checked]="resenha.calificacion == 2 ? true : false" disabled><!--
            --><label for="radio4{{resenha._id}}">★</label><!--
            --><input id="radio5{{resenha._id}}" type="checkbox" name="calificacion" value="1" [checked]="resenha.calificacion == 1 ? true : false" disabled><!--
            --><label for="radio5{{resenha._id}}">★</label>
          </p>
        </u></strong>
        <div class="bg-light" style="border-radius: 10px;">
          <p>&nbsp;&nbsp;&nbsp;{{resenha.texto}}</p>
          <p><span style="font-size: 12px" class="pl-1">{{resenha.fecha | date}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
███    ███  ██████  ██████   █████  ██
████  ████ ██    ██ ██   ██ ██   ██ ██
██ ████ ██ ██    ██ ██   ██ ███████ ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██
██      ██  ██████  ██████  ██   ██ ███████
-->
<!-- modal plates by category -->
<div class="portfolio-modal modal fade modalPlates-xl"  tabindex="-1" role="dialog" aria-labelledby="modalPlatesLabel-lx" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content parallax modalFood">
      <h3 style="color: white;">Pa´ que te deleites</h3>
      <div class="close-modal bg-light" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <section class="py-4 mx-auto" id="portfolio">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-auto portfolio-item" *ngFor="let x of platesPerCategory">
              <a class="portfolio-link">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    {{x.descripcion}}
                  </div>
                </div>
                <img class="img-fluid imgRestaurantePLato"[src]="URL_IMGS_PLATE + x.foto" [alt]="x.nombre">
              </a>
              <div class="portfolio-caption">
                <h5 style="display:inline;">{{x.nombre}}</h5> - ${{x.precio}} mil
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>




<!-- modal promos by day -->
<div class="portfolio-modal modal fade modalPromos-xl"  tabindex="-1" role="dialog" aria-labelledby="modalPromosLabel-lx" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content parallax modalFood">
      <h3 style="color: white;">Pa´ que te deleites</h3>
      <div class="close-modal bg-light" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <section class="py-4 mx-auto" id="portfolio">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-auto col-sm-12 portfolio-item" *ngFor="let x of promosDay">
              <a class="portfolio-link">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    {{x.descripcion}}
                  </div>
                </div>
                <img class="img-fluid imgRestaurantePLato" [src]="URL_IMGS_PLATE + x.foto" [alt]="x.nombre">
              </a>
              <div class="portfolio-caption">
                <h5 style="display:inline;">{{x.nombre}}</h5> - ${{x.precio}} mil
              </div>
            </div>            
          </div>
        </div>
      </section>
    </div>
  </div>
</div>