<!-- Footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/BookEat2" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/book.eat.31" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/bookeat1/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#freepikModal">
              Creditos a Freepik
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- Modal FreePik -->
<div class="modal fade" id="freepikModal" tabindex="-1" role="dialog" aria-labelledby="freepikModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="freepikModalLabel">Creditos a Freepik</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="https://www.freepik.es/fotos-vectores-gratis/marco">Foto de Marco creado por freepik - www.freepik.es</a>
        <br>
        <a href="https://www.freepik.es/fotos-vectores-gratis/negocios">Foto de Negocios creado por freepik - www.freepik.es</a>
        <br>
        <a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Foto de Fondo creado por rawpixel.com - www.freepik.es</a>
        <br>
        <a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Foto de Fondo creado por valeria_aksakova - www.freepik.es</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>