<!-- Rev its mandatory to check the CRUD because there are no many validation to make sure that the process its correct -->
<!-- Rev when I open the edit motal and then open the add modal the form gets the info from the edited item on the edit modal, I want the addModal clean -->
<div class="page-section">
  <div class="row">
    <div class="col-sm-12">
      <div class="accordion" id="accordionUserRest">
        <div class="card">
          <div class="card-header" id="headingUser">
            <h2 class="mb-0">
              <button class="btn btn-danger" type="button">
                <a href="https://analytics.google.com/analytics/web" target="_blank"
                style="color: white; text-decoration: none;"
                >Ir a Google Analitycs</a>
              </button>
            </h2>
          </div>
          <!-- minimap titles administrar usuarios -->
          <div class="card-header" id="headingUser">
            <h2 class="mb-0">
              <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseFormUser" 
              aria-expanded="true" aria-controls="collapseFormUser" (click)="manageTableUserRest(true)">
                Administrar usuarios
              </button>
            </h2>
          </div>
          <div id="collapseFormUser" class="collapse show" aria-labelledby="headingUser" data-parent="#accordionUserRest">
            <div class="card-body">
              <div class="input-group">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="alert alert-info" role="alert">
                      Si desea realizar una búsqueda sin filtro dejar los campos vacíos. <b>Solo puede usar un campo como filtro</b>.
                    </div>
                  </div>
                </div>
                <form name="form" (ngSubmit)="formFilterUser.form.valid && getFilteredUsers()" #formFilterUser="ngForm" novalidate>
                  <div class="row">
                    <!-- Rev use select option to show all the posible options -->
                    <div class="col-sm">
                      <input type="text" class="form-control" placeholder="Usuario"  name="usuario" maxlength="40"
                      #usuario="ngModel" [(ngModel)]="userSearch"
                      (click)="selectedInput(1)">
                    </div>
                    <div class="col-sm">
                      <input type="text" class="form-control" placeholder="Nombre"  name="nombre" maxlength="60"
                      #name="ngModel" [(ngModel)]="nombreSearch"
                      (click)="selectedInput(2)">
                    </div>
                    <div class="col-sm">
                      <input type="text" class="form-control" placeholder="Correo"  name="correo" maxlength="60"
                      #myControl="ngModel" [(ngModel)]="emailSearch"
                      (click)="selectedInput(3)">
                      <!-- Rev emial its no validated anymore for filter because query its working now with regex expressions to find everything (LIKE-SQL) -->
                      <!-- [ngClass]="{ 'is-invalid': formFilterUser.submitted && myControl.invalid }" pattern="[^@]+@[^\.]+\..+" />
                      <div *ngIf="formFilterUser.submitted && myControl.errors?.pattern" class="invalid-feedback">
                          <div >El E-mail debe ser un E-mail válido.</div>
                      </div> -->
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-info">Filtrar</button>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-info" (click)="cleanFilters(1)">Limpiar Filtro</button>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddUser" (click)="cleanModalUserRest()">
                        Añadir
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      
        <!-- minimap titles administrar restaurantes -->
        <div class="card">
          <div class="card-header" id="headingRestaurant">
            <h2 class="mb-0">
              <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFormRest" 
              aria-expanded="false" aria-controls="collapseFormRest" maxlength="40" (click)="manageTableUserRest(false)">
                Administrar Restaurantes
              </button>
            </h2>
          </div>
          <div id="collapseFormRest" class="collapse" aria-labelledby="headingRestaurant" data-parent="#accordionUserRest">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-info" role="alert">
                    Si desea realizar una búsqueda sin filtro deje el campo vacío.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="valueSearch">
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-info" (click)="getFilteredRestaurants()">Filtrar</button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-info" (click)="cleanFilters()">Limpiar Filtro</button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAddRest" (click)="cleanModalUserRest()">
                    Añadir
                  </button>
                </div>
                <!-- <div class="col-sm">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdminCategories" (click)="adminCategories()">
                    Administrar Categorías
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- minimap titles administrar resenas -->
        <div class="card">
          <div class="card-header" id="headingResena">
            <h2 class="mb-0">
              <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFormResena" 
              aria-expanded="false" aria-controls="collapseFormResena" (click)="manageTableUserRest(2)">
                Administrar Reseñas
              </button>
            </h2>
          </div>
          <div id="collapseFormResena" class="collapse" aria-labelledby="headingResena" data-parent="#accordionUserRest">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-info" role="alert">
                    Si desea realizar una búsqueda sin filtro deje el campo vacío.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Nombre Usuario" maxlength="40"
                  name="nombre" #nombre="ngModel" [(ngModel)]="valueSearch">
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-info" (click)="getFilteredResenas()">Filtrar</button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-info" (click)="cleanFilters()">Limpiar Filtro</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>

  <!-- minimap titles table -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" style="border-radius: 5%">
        <!-- thead Users-->
        <thead class="thead-dark" *ngIf="boolTableUserRestRes == true">
          <th scope="col" *ngFor="let th of thUser">{{th}}</th>
        </thead>
        <!-- thead Restaurants -->
        <thead class="thead-dark" *ngIf="boolTableUserRestRes == false">
          <th scope="col" *ngFor="let th of thRest" style="font-size: 13px">{{th}}</th>
        </thead>
        <!-- thead Resenas -->
        <thead class="thead-dark" *ngIf="boolTableUserRestRes == 2">
          <th scope="col" *ngFor="let th of thResena" style="font-size: 13px">{{th}}</th>
        </thead>
        <!-- tbody Users-->
        <tbody *ngIf="boolTableUserRestRes == true">
          <tr *ngFor="let user of usuarioService.usuarios; let i = index" [style.backgroundColor]="user.bloqueado ? '#FFCDC2' : 'null'" id="tr{{user._id}}">
            <td>{{i + 1}}</td>
            <td>
              <img class="profilePictureMini rounded-circle" 
              [src]="user.fotoPerfil != 'assets/no-profile-photo.png'? URL_IMGS_USER + user.fotoPerfil : 'assets/no-profile-photo.png'">
            </td>
            <td>{{user.usuario}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.fechaNacimiento}}</td>
            <td>{{user.celular}}</td>
            <td>
              <button type="button" class="btn btn-warning mr-1 mb-1" (click)="editUser(user)"
              data-toggle="modal" data-target="#modalAddUser">Editar</button>
              <button type="button" class="btn btn-danger" (click)="deleteUser(user._id, user.nombre)">Eliminar</button>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="checkboxEstado{{user._id}}"
                (click)="updateEstadoUser(user._id)" [attr.checked]="user.bloqueado ? 'checked' : null">
                <label class="custom-control-label" for="checkboxEstado{{user._id}}">Inactivar</label>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- tbody Restaurants -->
        <tbody *ngIf="boolTableUserRestRes == false">
          <tr *ngFor="let rest of restauranteService.restaurantes; let i = index"  [style.backgroundColor]="rest.bloqueado ? '#FFCDC2' : 'null'" id="tr{{rest._id}}">
            <td>{{i + 1}}</td>          
            <td>
              <a *ngIf="!rest.bloqueado" [routerLink]="['/restaurante', rest._id]">
                {{rest.nombre}}
              </a>
              <a *ngIf="rest.bloqueado">
                {{rest.nombre}}
              </a>
            </td>
            <td>{{rest.direccion}}</td>
            <td>{{rest.fijo}} - {{rest.celular}}</td>
            <td>{{rest.precioMinimo}}</td>
            <td>{{rest.categoria}}</td>
            <td>
              <button type="button" class="btn btn-warning mr-1 mb-1" (click)="editRest(rest)"
              data-toggle="modal" data-target="#modalAddRest">Editar</button>
              <button type="button" class="btn btn-danger" (click)="deleteRest(rest._id, rest.nombre)">Eliminar</button>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="checkboxEstado{{rest._id}}"
                (click)="updateEstadoRest(rest._id)" [attr.checked]="rest.bloqueado ? 'checked' : null">
                <label class="custom-control-label" for="checkboxEstado{{rest._id}}"></label>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- tbody Resenas -->
          <tbody *ngIf="boolTableUserRestRes == 2">
            <tr *ngFor="let res of dataResenas; let i = index" >
                <!-- [style.backgroundColor]="rest.bloqueado ? '#FFCDC2' : 'null'" id="tr{{rest._id}}" -->
              <td>{{i + 1}}</td>
              <td>
                <a [routerLink]="['/restaurante', res.idRestaurante]">
                  {{res.nameRestaurant}}
                </a>
              </td>
              <td>{{res.usuario}}</td>
              <td>{{res.texto}}</td>
              <td>{{res.calificacion}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteResena(res._id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>






<!-- minimap titles -->
<!-- Modals -->
<!-- Modal update or insert user  -->
<form name="form" (ngSubmit)="userForm.form.valid && addUser(userForm)" #userForm="ngForm" novalidate>
  <div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddUserTitle">Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <!-- <form #userForm="ngForm" (ngSubmit)="addUser(userForm)"> de esta forma debo meter el boton dentro del form-->
            <input *ngIf="usuarioService.selectedUsuario._id != ''" type="text" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.selectedUsuario._id" readonly hidden>
            <div class="row">
              <div class="col-sm-12"> 
                <div *ngIf="usuarioService.selectedUsuario._id != ''" class="input-group row d-flex justify-content-center">
                  <!-- <img [src]="usuarioService.selectedUsuario.provider == 'GOOGLE' ?
                  URL_IMGS_USER + usuarioService.selectedUsuario.fotoPerfil : URL_IMGS_USER + usuarioService.selectedUsuario.fotoPerfil"
                  class="selectedProfilePhoto m-2" alt="Foto Perfil"> -->
                  <img [src]="usuarioService.selectedUsuario.fotoPerfil != 'assets/no-profile-photo.png'?
                  URL_IMGS_USER + usuarioService.selectedUsuario.fotoPerfil : 'assets/no-profile-photo.png'"
                  class="selectedProfilePhoto m-2" alt="Foto Perfil">
                </div>

                <div class="form-group">
                  <label for="usuario">Usuario</label>
                  <input type="text" class="form-control" placeholder="usuario" id="usuario" name="usuario" #usuario="ngModel"  maxlength="20"
                  [(ngModel)]="usuarioService.selectedUsuario.usuario" [readonly]="usuarioService.selectedUsuario._id"
                  [ngClass]="{ 'is-invalid': userForm.submitted && usuario.invalid }" required>
                  <div *ngIf="userForm.submitted && usuario.invalid" class="invalid-feedback">
                    <div *ngIf="usuario.errors.required">Por favor ingrese un usuario.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="usuario">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" id="nombreUsuario" name="nombreUsuario" #nombreUsuario="ngModel"  maxlength="20"
                  [(ngModel)]="usuarioService.selectedUsuario.nombre"
                  [ngClass]="{ 'is-invalid': userForm.submitted && nombreUsuario.invalid }" required>
                  <div *ngIf="userForm.submitted && nombreUsuario.invalid" class="invalid-feedback">
                    <div *ngIf="nombreUsuario.errors.required">Por favor ingrese un nombre.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="correo">Correo</label>
                  <input type="text" class="form-control" placeholder="correo" id="correo" name="correo" #correo="ngModel" maxlength="60"
                  [(ngModel)]="usuarioService.selectedUsuario.correo" required [readonly]="usuarioService.selectedUsuario._id"
                  [ngClass]="{ 'is-invalid': userForm.submitted && correo.invalid }" required pattern="[^@]+@[^\.]+\..+" />
                  <div *ngIf="userForm.submitted && correo.invalid" class="invalid-feedback">
                    <div *ngIf="correo.errors.required">Por favor ingrese un E-mail de contacto.</div>
                    <div *ngIf="correo.errors.pattern">El E-mail debe ser un E-mail válido.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="fechaNacimiento">Fecha Nacimiento</label>
                  <input type="date" class="form-control" placeholder="fechaNacimiento" id="fechaNacimiento" name="fechaNacimiento" #fechaNacimiento="ngModel" 
                  [(ngModel)]="usuarioService.selectedUsuario.fechaNacimiento">
                </div>
                <div class="form-group">
                  <label for="celular">Celular</label>
                  <input type="number" class="form-control" placeholder="celular" id="celular" name="celular" #celular="ngModel" maxlength="10"
                  [(ngModel)]="usuarioService.selectedUsuario.celular">
                </div>
                <div class="form-group">
                  <label for="contrasena">Contrasena</label>
                  <input *ngIf="usuarioService.selectedUsuario._id" type="password" class="form-control" placeholder="contrasena" id="contrasenaUser" name="contrasenaUser" #contrasenaUser="ngModel" maxlength="60"
                  [(ngModel)]="usuarioService.selectedUsuario.contrasena">
                  <input *ngIf="!usuarioService.selectedUsuario._id" type="password" class="form-control" placeholder="Contraseña" id="contrasenaUser" name="contrasenaUser" #contrasenaUser="ngModel" maxlength="60"
                  [(ngModel)]="usuarioService.selectedUsuario.contrasena"
                  [ngClass]="{ 'is-invalid': userForm.submitted && contrasenaUser.invalid }" required pattern="^[A-Za-z0-9@.-<>]{5,20}"/>
                  <div *ngIf="userForm?.submitted && contrasenaUser?.invalid" class="invalid-feedback">
                    <div *ngIf="contrasenaUser.errors.required">Por favor ingrese una contraseña.</div>
                    <div *ngIf="contrasenaUser.errors.pattern">
                      Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contrasena">Repetir contraseña</label>
                  <input type="password" class="form-control" placeholder="Repetir Contraseña" id="passwordRepeatUser" name="passwordRepeatUser" #passwordRepeatUser="ngModel" maxlength="60"
                  [(ngModel)]="passwordConfirm">
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
          <button *ngIf="usuarioService.selectedUsuario._id == ''"
          type="button" class="btn btn-warning" (click)="resetForm(userForm)">
            Borrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>






<!-- Modal update or insert Restaurant -->
<form name="form" (ngSubmit)="restForm.form.valid && addRest(restForm)" #restForm="ngForm" novalidate>
  <div class="modal fade" id="modalAddRest" tabindex="-1" role="dialog" aria-labelledby="modalAddRestTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddRestTitle">Restaurante</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form #userForm="ngForm" (ngSubmit)="addUser(userForm)"> de esta forma debo meter el boton dentro del form-->
            <input type="text" name="_id" #_id="ngModel" [(ngModel)]="restauranteService.selectedRestaurante._id" readonly hidden>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nombre">Nombre del Restaurante</label>
                  <input type="passsword" class="form-control" placeholder="Nombre del Restaurante" id="nombre" name="nombre" #nombre="ngModel" maxlength="60"
                  [(ngModel)]="restauranteService.selectedRestaurante.nombre"
                  [ngClass]="{ 'is-invalid': restForm.submitted && nombre.invalid }" required/>
                  <div *ngIf="restForm.submitted && nombre.invalid" class="invalid-feedback">
                    <div *ngIf="nombre.errors.required">Por favor ingrese un Nombre de Restaurante.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Dirección del Resturante</label>
                  <input type="text" class="form-control" placeholder="Dirección" name="direccion" #direccion="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.direccion">
                </div>
                <div class="form-group">
                  <label>Teléfono Fijo del Restaurante</label>
                  <input type="number" class="form-control" placeholder="Teléfono Fijo" name="fijo" #fijo="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.fijo">
                </div>
                <div class="form-group">
                  <label>Teléfono Celular del Restaurante</label>
                  <input type="number" class="form-control" placeholder="Teléfono Celular" name="celular" #celular="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.celular">
                </div>
                <div class="form-group">
                  <label>Precio Mínimo por Persona</label>
                  <input type="number" class="form-control" placeholder="Precio Minimo" name="precioMinimo" #precioMinimo="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.precioMinimo">
                </div>
                <div class="form-group">
                  <label>Categorías</label>
                  <input type="text" class="form-control" placeholder="Categorías" name="categoria" #categoria="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.categoria" required
                  [ngClass]="{ 'is-invalid': restForm.submitted && categoria.invalid }" required 
                  pattern="([A-Za-záéíóúÁÉÍÓÚ ]+,)*[A-Za-záéíóúÁÉÍÓÚ ]+"/>
                  <div *ngIf="restForm.submitted && categoria.invalid" class="invalid-feedback">
                    <div *ngIf="categoria.errors.required">Por favor ingrese las categorías.</div>
                    <div *ngIf="categoria.errors.pattern">Cree las categorías de la siguiente forma:<br>
                      categoría 1,caegoría 2, etc.<br>
                      (no deje espacios antes ni después de las comas, no utilice signos para nombrar las categorías, 
                      solo use comas para separar las categorías.
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group">
                <label>Confirmar Contraseña</label>
                  <input type="text" class="form-control" placeholder="Categoria" name="categoria" #categoria="ngModel" 
                  [(ngModel)]="restauranteService.selectedRestaurante.categoria">
                </div> -->
                <div class="form-group">
                  <label for="email">E-mail del Restaurante</label>
                  <input type="passsword" class="form-control" placeholder="E-mail del Restaurante" id="email" name="email" #email="ngModel" maxlength="60"
                  [(ngModel)]="restauranteService.selectedRestaurante.email" [readonly]="restauranteService.selectedRestaurante._id"
                  [ngClass]="{ 'is-invalid': restForm.submitted && email.invalid }" required pattern="^[A-Za-z0-9@.-<>]{5,60}"/>
                  <div *ngIf="restForm.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Por favor ingrese E-mail válido.</div>
                    <div *ngIf="email.errors.pattern">El E-mail debe ser un E-mail válido.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Teléfono de Contacto</label>
                  <input type="text" class="form-control" placeholder="Teléfono de Contacto" name="telefonoContacto" #telefonoContacto="ngModel"
                  [(ngModel)]="restauranteService.selectedRestaurante.telefonoContacto">
                </div>
                <div class="form-group">
                  <label for="lat">Latitud</label>
                  <input type="number" class="form-control" placeholder="Latitud" id="lat" name="lat" #lat="ngModel" maxlength="50"
                  [(ngModel)]="restauranteService.selectedRestaurante.lat"
                  [ngClass]="{ 'is-invalid': restForm.submitted && lat.invalid }" required pattern="^[0-9.]{5,50}"/>
                  <div *ngIf="restForm.submitted && lat.invalid" class="invalid-feedback">
                    <div *ngIf="lat.errors.required">Por favor ingrese una latitud.</div>
                    <div *ngIf="lng.errors.pattern">Por favor ingrese un número flotante entre 5 a 50 dígitos.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lng">Logintud</label>
                  <div class="alert alert-primary" role="alert">
                    No introduzca el menos (-).
                  </div>
                  <input type="number" class="form-control" placeholder="longitud, no instroduzca el menos (-)" id="lng" name="lng" #lng="ngModel" maxlength="50"
                  [(ngModel)]="restauranteService.selectedRestaurante.lng"
                  [ngClass]="{ 'is-invalid': restForm.submitted && lng.invalid }" required pattern="^[0-9.-]{5,50}"/>
                  <div *ngIf="restForm.submitted && lng.invalid" class="invalid-feedback">
                    <div *ngIf="lng.errors.required">Por favor ingrese una longitud.</div>
                    <div *ngIf="lng.errors.pattern">Por favor ingrese un número flotante entre 5 a 50 dígitos.</div>
                  </div>
                </div>
                <!-- if we are updating an user -->
                <div *ngIf="restauranteService.selectedRestaurante._id" class="form-group mt-2">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="contrasena" name="contrasenaRest" #contrasenaRest="ngModel"
                  [(ngModel)]="restauranteService.selectedRestaurante.contrasena">
                </div>
                <!-- id we are creating an user -->
                <div *ngIf="!restauranteService.selectedRestaurante._id" class="form-group">
                  <label for="contrasenaRest">Contrasena</label>
                  <input type="password" class="form-control" placeholder="contrasena" id="contrasenaRest" name="contrasenaRest" #contrasenaRest="ngModel" maxlength="60"
                  [(ngModel)]="restauranteService.selectedRestaurante.contrasena"
                  [ngClass]="{ 'is-invalid': restForm.submitted && contrasenaRest.invalid }" required pattern="^[A-Za-z0-9@.-<>]{5,20}"/>
                  <div *ngIf="restForm.submitted && contrasenaRest.invalid" class="invalid-feedback">
                    <div *ngIf="contrasenaRest.errors.required">Por favor ingrese una contraseña.</div>
                    <div *ngIf="contrasenaRest.errors.pattern">
                      Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien @.-<>).
                    </div>
                  </div>
                </div>
                <div *ngIf="restauranteService.selectedRestaurante._id" class="alert alert-info mt-2" role="alert">
                  Para modificar la contraseña debe llenar el siguiente campo, de lo contrario no es necesario.
                </div>
                <div class="form-group">
                  <label>Confirmar Contraseña</label>
                  <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="passwordRepeatRest"
                  #passwordRepeatRest="ngModel" [(ngModel)]="passwordConfirm">
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
          <button *ngIf="restauranteService.selectedRestaurante.nombre == ''"
          type="button" class="btn btn-warning" (click)="resetForm(restForm)">
            Borrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>





<!-- Modal update categories restaurant
  <div class="modal fade" id="modalAdminCategories" tabindex="-1" role="dialog" aria-labelledby="modalAdminCategoriesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAdminCategoriesTitle">Administrar Categorias</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="form" (ngSubmit)="categoriesForm.form.valid && addRest(categoriesForm)" #categoriesForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nombre">Nueva categoría</label>
                  <input type="passsword" class="form-control" placeholder="Nombre del Restaurante" id="nombre" name="nombre" #nombre="ngModel" maxlength="60"
                  [(ngModel)]="restauranteService.selectedRestaurante.nombre"
                  [ngClass]="{ 'is-invalid': categoriesForm.submitted && nombre.invalid }" required/>
                  <div *ngIf="categoriesForm.submitted && nombre.invalid" class="invalid-feedback">
                    <div *ngIf="nombre.errors.required">Por favor ingrese una categoria.</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
          <hr>
          <input type="text" name="_id" #_id="ngModel" [(ngModel)]="restauranteService.selectedRestaurante._id" readonly hidden>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nombre">Nombre del Restaurante</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="restauranteService.selectedRestaurante.nombre == ''"
          type="button" class="btn btn-warning" (click)="resetForm(categoriesForm)">
            Borrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form> -->